
<pre>
<h1>Memcheck Statistics</h1>
{% for appinfo in results %}
<h2> {{appinfo.application}} {{appinfo.version}} {{appinfo.options}}</h2>

      
      {% for j in appinfo.jobs %}
JobID:{{ j.id }}
Start:{{j.time_start}} 
End:{{j.time_end}}
    <table border="0.1" style="width:100%">
	{%  for jr in j.jobresults %}
        <tr>
	<td> {{ jr.name }}</td>
	<td>
	{% if jr.type == "File" %}
	<a href="{{ ROOT_URL }}jobFileView?file={{jr.value}}"> {{jr.value}}</a>
	{% else %}
	{{ jr.value }}
	{% endif %}
	</td>
	</tr>
         {% endfor %}
     </table>
      {% endfor %}


{% endfor %}

</pre>
