{% extends "lhcbPR/base_template.html" %}

{% block title %} {{ active_tab }} {{ title }} {% endblock title %}

{% block head %} 
<script type="text/javascript" src="{{ STATIC_URL }}js/BaseAnalysisFunctions.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/analysisBookmark.js"></script>
{% endblock head %}

{% block script %} 
var appName = "{{ active_tab }}";
var requestUrl = "{{ ROOT_URL }}analyse/{{ analysis_type }}/results/{{  active_tab }}/";
var prefillData = {{ bookmark|safe }};
var triggerResults = false;
jQuery(document).ready(function() {
        jQuery( "#bookmarkDialog" ).dialog({
            //modal: true,
            autoOpen: false,
            show: "blind",
            hide: "blind",
            position: { 
                my: 'top',
                at: 'right',
                of: jQuery('#dummy')
              },
            buttons: {
                Ok: function() {
                    jQuery( this ).dialog( "close" );
                }
            }
        });
        
		$("#analyseMenu").attr('checked', 'checked').button("refresh");
		{% for app in applications %}
		$('#{{ app }}tabButton').click(function(){ 
				document.location.href="{{ ROOT_URL }}analyse/{{ app }}/" ;
				$("#{{ active_tab }}tab").mask("Loading...");
			});
		{% endfor %}

		$('#tabs')
            .tabs({ selected : -1 })
            .tabs('select', '#{{ active_tab }}tab');
	
		$('.filter a,#bookmark,#execute_query').hover(
					function() { $(this).addClass('ui-state-hover'); },
					function() { $(this).removeClass('ui-state-hover'); }
				);
		$("#HostButton").click(function(){ showHide("HostButton","hosts") });
		$("#OptionsButton").click(function(){ showHide("OptionsButton","options") });
		$("#PlatformButton").click(function(){ showHide("PlatformButton","platforms") });
		$("#VersionButton").click(function(){ showHide("VersionButton","versions") });

		$("#HostErase").click(function(){ CheckBoxClear("hosts") });
		$("#OptionsErase").click(function(){ CheckBoxClear("options") });
		$("#PlatformErase").click(function(){ CheckBoxClear("platforms") });
		$("#VersionErase").click(function(){ CheckBoxClear("versions") });

		$("#execute_query").click(function() { sendRequest(); });

        jQuery.fx.speeds._default = 800;
        jQuery("#bookmark").click(function(){ 
            var mytrigger = jQuery("#triggerResults").is(":checked");
            var mypathname = window.location.pathname;
            jQuery("#bookmark_url").val( "https://"+ window.location.host + mypathname.slice(0,-1) +"?"+getBookmarkUrl()+"&trigger="+mytrigger );
            jQuery("#bookmarkDialog").dialog( "open" );
            return false;
        });

        jQuery("#goo").click(function(){
            var url_to_short = $("#bookmark_url").val();
            var bookmarkshort = "https://webservices.web.cern.ch/webservices/Services/ShortenUrl/Default.aspx?shorten="+url_to_short;
            window.open( bookmarkshort );
        });
        jQuery("#triggerResults").click(function(){
            var mytrigger = $(this).is(":checked");
            jQuery("#bookmark_url").val( "https://"+ window.location.host + window.location.pathname +"?"+getBookmarkUrl()+"&trigger="+mytrigger );
        });

        /* call the bookmark prefill */
        $("#options").prefillBox();
        $("#hosts").prefillBox();
        $("#versions").prefillBox();
        $("#platforms").prefillBox();
        
        
});

{% endblock script %}

{% block stylecss %} {% endblock stylecss %}

{% block helptext %} <pre> {{ help }} </pre> {% endblock helptext %}

{% block pagebody %}
<style type="text/css">
div.outer {
   width : auto;
	clear: both;
	display : inline-block;
}
div.innerLeft {
   width: auto;	
   position: relative;     
   float: left;
 }
.innerRight {
   width : auto;
	position: relative;        
   float: right;
	margin-left: 10px;
} 
#button_div a{ padding: .4em 1em .2em 17px;text-decoration: none; position: relative; float: right; margin-left:0.2em;}
#dummy {  float: right; margin-left:0.2em; clear: both; margin-top : 0.5em; }

#goo:hover { color: blue; }
</style>
<div id="tabs">
			<ul>
				{% for app in applications %}
				<li><a id="{{ app }}tabButton" href="#{{ app }}tab">{{ app }}</a></li>
				{% endfor %}
			</ul>
			<div id="{{ active_tab }}tab">
	
            <div id="button_div">
                <a  id="bookmark" class="ui-state-default ui-corner-all" href="javascript:;"  title="bookmark your selection"> Bookmark </a>
                <a  id="execute_query" class="ui-state-default ui-corner-all" href="javascript:;"  title="bookmark your selection"> Retrieve results </a>

                <!-- bookmark holder -->
                <div id="dummy"></div>

            </div><!-- /button_div -->

				<div class="outer">
					<div id="users_plus_filter" class="innerLeft">

						<div id="users_html">
						{% block content %} {% endblock content %}
						</div>

						<table class="filter" style="margin-top: 1em;">
						<tr>
						<td><a href="javascript:;" id="OptionsButton" class="ui-state-default ui-corner-all filterButton"><span class="ui-icon ui-icon-minusthick"></span>Options</a>
								<a href="javascript:;" id="OptionsErase" class="ui-state-default ui-corner-all filterErase"  title="clear checkbox" ><span class="ui-icon ui-icon-closethick"></span></a>
						</td>
						<tr>
						<td>
						    <ul id="options" class="checklist" >
								{% for opt in options %}
								<li>
										<label>
											<input type="checkbox" value="{{ opt.pk }}" >
												{{ opt.description }}
										 </label>
								</li>
							{% endfor %}
						</td>
						<tr>
						<td><a href="javascript:;" id="VersionButton" class="ui-state-default ui-corner-all filterButton"><span class="ui-icon ui-icon-minusthick"></span>Version</a>
								<a href="javascript:;" id="VersionErase" class="ui-state-default ui-corner-all filterErase"  title="clear checkbox"><span class="ui-icon ui-icon-closethick"></span></a>
						</td>
						<tr>
						<td>
				 		   <ul id="versions" class="checklist">
							{% for v in versions %}
								<li>
										<label>
											<input type="checkbox" value="{{ v.pk }}" >
												{{ v.appVersion }}
										 </label>
								</li>
							{% endfor %}
						    </ul>
						</td>
						<tr>
						<td><a href="javascript:;" id="PlatformButton" class="ui-state-default ui-corner-all filterButton"><span class="ui-icon ui-icon-plusthick"></span>Platform</a>
								<a href="javascript:;" id="PlatformErase" class="ui-state-default ui-corner-all filterErase"  title="clear checkbox"><span class="ui-icon ui-icon-closethick"></span></a>
						</td>
						<tr>
						<td>
				 		   <ul id="platforms" class="checklist" style="display:none;">
							{% for plat in platforms %}
								<li>
										<label>
											<input type="checkbox" value="{{ plat.pk }}" >
												{{ plat.cmtconfig }}
										 </label>
								</li>
							{% endfor %}
						    </ul>
						</td>
						<tr>
						<td><a href="javascript:;" id="HostButton" class="ui-state-default ui-corner-all filterButton"><span class="ui-icon ui-icon-plusthick"></span>Host</a>
								<a href="javascript:;" id="HostErase" class="ui-state-default ui-corner-all filterErase"  title="clear checkbox" ><span class="ui-icon ui-icon-closethick"></span></a>
						</td>
						<tr>
						<td>
						    <ul id="hosts" class="checklist" style="display: none;">
								{% for h in hosts %}
								<li>
										<label>
											<input type="checkbox" value="{{ h.pk }}" >
												{{ h.hostname }}
										 </label>
								</li>
							{% endfor %}
						</td>
						</table><!-- closing div id=myfilter -->

					</div><!-- /filter_container + InnerLeft(has two classes)-->				
					
				<div id="results" class="innerRight" style="margin-top: 2em;margin-left:1em;"></div><!-- /results + InnerRight (has two classes)-->
					
				</div><!-- /outer-->					
			</div><!-- active_tab -->
</div><!--  /tabs -->

 <!--  bookmark dialog(captain obvious) -->
<div id="bookmarkDialog" title="Bookmark url">
        <label>
            <a id="goo" href="javascript:;">Shorten url</a>
        </label><br>
        <label><input id="triggerResults" type="checkbox" checked="checked">Retrieve results on bookmark url</label>

        <input id="bookmark_url" type="text" value="" style="width: 100%;margin-top : 0.5em;" />

</div>
{% endblock pagebody %}
