{% extends "lhcbPR/base_template.html" %}

{% block title %} {{ active_tab }} {{ title }} {% endblock title %}

{% block head %} 
<script type="text/javascript" src="/static/js/BaseAnalysisFunctions.js"></script>
{% endblock head %}

{% block script %} 
var appName = "{{ active_tab }}";
var requestUrl = "/django/lhcbPR/analyse/{{ analysis_type }}/results/{{  active_tab }}/";
$(document).ready(function() {
		$("#analyseMenu").attr('checked', 'checked').button("refresh");
		{% for app in applications %}
		$('#{{ app }}tabButton').click(function(){ 
				document.location.href="/django/lhcbPR/analyse/{{ app }}/" ;
				$("#{{ active_tab }}tab").mask("Loading...");
			});
		{% endfor %}

		$('#tabs').tabs({ selected : -1 });
		$('#tabs').tabs('select', '#{{ active_tab }}tab');
	
		$('.filter a').hover(
					function() { $(this).addClass('ui-state-hover'); },
					function() { $(this).removeClass('ui-state-hover'); }
				);
		$("#HostButton").click(function(){ showHide("HostButton","Host") });
		$("#OptionsButton").click(function(){ showHide("OptionsButton","Options") });
		$("#PlatformButton").click(function(){ showHide("PlatformButton","Platform") });
		$("#VersionButton").click(function(){ showHide("VersionButton","Version") });

		$("#HostErase").click(function(){ CheckBoxClear("Host") });
		$("#OptionsErase").click(function(){ CheckBoxClear("Options") });
		$("#PlatformErase").click(function(){ CheckBoxClear("Platform") });
		$("#VersionErase").click(function(){ CheckBoxClear("Version") });

		$("#execute_query").click(function() { sendRequest(); });
});

{% endblock script %}

{% block stylecss %} {% endblock stylecss %}

{% block helptext %} <pre> {{ help }} </pre> {% endblock helptext %}

{% block pagebody %}
<style type="text/css">
div.outer {
	clear: both;
	display : inline-block;
}
div.innerLeft {
	position: relative;     
    float: left;
 }
.innerRight {
	position: relative;        
    float: right;
	margin-left: 10px;
} 
#execute_query { padding: .4em 1em .2em 17px;text-decoration: none;position: relative; float: right;}
</style>
<div id="tabs">
			<ul>
				{% for app in applications %}
				<li><a id="{{ app }}tabButton" href="#{{ app }}tab">{{ app }}</a></li>
				{% endfor %}
			</ul>
			<div id="{{ active_tab }}tab">
	
			<a  id="execute_query" class="ui-state-default ui-corner-all" href="javascript:;"  title="bookmark your selection"> Retrieve results </a>

				<div class="outer">
					<div class="innerLeft">

						<div id="users_html">
						{% block content %} {% endblock content %}
						</div>

						<table class="filter" style="margin-top: 1em;">
						<tr>
						<td><a href="javascript:;" id="OptionsButton" class="ui-state-default ui-corner-all filterButton"><span class="ui-icon ui-icon-minusthick"></span>Options</a>
								<a href="javascript:;" id="OptionsErase" class="ui-state-default ui-corner-all filterErase"  title="clear checkbox" ><span class="ui-icon ui-icon-closethick"></span></a>
						</td>
						<tr>
						<td>
						    <ul id="Options" name="Options" class="checklist" >
								{% for opt in options %}
								<li>
										<label>
											<input type="checkbox" value="{{ opt.pk }}" >
												{{ opt.description }}
										 </label>
								</li>
							{% endfor %}
						</td>
						<tr>
						<td><a href="javascript:;" id="VersionButton" class="ui-state-default ui-corner-all filterButton"><span class="ui-icon ui-icon-minusthick"></span>Version</a>
								<a href="javascript:;" id="VersionErase" class="ui-state-default ui-corner-all filterErase"  title="clear checkbox"><span class="ui-icon ui-icon-closethick"></span></a>
						</td>
						<tr>
						<td>
				 		   <ul id="Version" name="Version" class="checklist">
							{% for v in versions %}
								<li>
										<label>
											<input type="checkbox" value="{{ v.pk }}" >
												{{ v.appVersion }}
										 </label>
								</li>
							{% endfor %}
						    </ul>
						</td>
						<tr>
						<td><a href="javascript:;" id="PlatformButton" class="ui-state-default ui-corner-all filterButton"><span class="ui-icon ui-icon-plusthick"></span>Platform</a>
								<a href="javascript:;" id="PlatformErase" class="ui-state-default ui-corner-all filterErase"  title="clear checkbox"><span class="ui-icon ui-icon-closethick"></span></a>
						</td>
						<tr>
						<td>
				 		   <ul id="Platform" name="Platform" class="checklist" style="display:none;">
							{% for plat in platforms %}
								<li>
										<label>
											<input type="checkbox" value="{{ plat.pk }}" >
												{{ plat.cmtconfig }}
										 </label>
								</li>
							{% endfor %}
						    </ul>
						</td>
						<tr>
						<td><a href="javascript:;" id="HostButton" class="ui-state-default ui-corner-all filterButton"><span class="ui-icon ui-icon-plusthick"></span>Host</a>
								<a href="javascript:;" id="HostErase" class="ui-state-default ui-corner-all filterErase"  title="clear checkbox" ><span class="ui-icon ui-icon-closethick"></span></a>
						</td>
						<tr>
						<td>
						    <ul id="Host" name="Host" class="checklist" style="display: none;">
								{% for h in hosts %}
								<li>
										<label>
											<input type="checkbox" value="{{ h.pk }}" >
												{{ h.hostname }}
										 </label>
								</li>
							{% endfor %}
						</td>
						</table><!-- closing div id=myfilter -->

					</div><!-- /filter_container + InnerLeft(has two classes)-->				
					
				<div id="results" class="innerRight" style="margin-top: 2em;margin-left:1em;"></div><!-- /resutls + InnerRight (has two classes)-->
					
				</div><!-- /outer-->					
			</div><!-- active_tab -->
</div><!--  /tabs -->
{% endblock pagebody %}
