body{
	background-image:url('gradient2.png');
	background-repeat:repeat-x;
}

p.mystyle {
	font-family: sans-serif;
	font-style: italic;
	font-variant: small-caps;
	font-weight: normal;
	font-size: medium;
	line-height: 100%;
	word-spacing: normal;
	letter-spacing: normal;
	text-decoration: none;
	text-transform: none;
	text-align: left;
	text-indent: 0ex;
}

p.head {
	font-family: sans-serif;
	font-style: italic;
	font-variant: small-caps;
	font-weight: normal;
	font-size: 35px;
	line-height: 100%;
	word-spacing: normal;
	letter-spacing: normal;
	text-decoration: none;
	text-transform: none;
	text-align: left;
	text-indent: 0ex;
}

table.sample {
	border-width: 1px;
	border-spacing: 2px;
	border-style: hidden;
	border-color: gray;
	border-collapse: separate;
	background-color: white;
}

table.sample th {
	border-width: 1px;
	padding: 5px;
	border-style: dotted;
	border-color: gray;
	background-color: rgb(255, 250, 250);
	-moz-border-radius: ;
}

table.sample td {
	font-size : 16pt;
    font-family : "Verdana",Helvetica,Arial,sans-serif;
	border-width: 1px;
	padding: 5px;
	border-style: dotted;
	border-color: gray;
	background-color: rgb(255, 250, 250);
	font-size: 16px;
	-moz-border-radius: ;
}

.styled-select select {
   background: transparent;
   width: 225px;
   padding: 5px;
   font-size: 16px;
   border: 1px solid #ccc;
   height: 34px;
}

.styled-select {
   width: 200px;
   height: 34px;
   overflow: hidden;
   background: url("https://alamages.cern.ch/new_arrow.jpg") no-repeat right #ddd;
}

#header-wrap {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	background: url("https://alamages.cern.ch/head.jpg") repeat-x left bottom;
}

