/* Main Gauss style sheet */
/* the HTML tag are uppercased for clearer reading */
/* Body of the page settings: prevents any margin */


/* Unique Gauss manifest (on the main page) */
#manifest { 
  font-weight: normal;
  height: 80pt;
}

/* #ann A:visited { */
/*  font-weight: normal; */
/*  color: #0000CD; */
/* } */ 

/*#production { */
/*  background-color: #7B68EE; */
/*} */


.firstcell { 
  background-color: #0000CD;
/*  background-color: #436EEE;#7B68EE*/
  font-weight: bold;
  color: #FFFFFF;
}


TR.evenrow TD {
/*  background-color: #FFFFE0; */
  background-color: #FEFFEF;
}

TR.oddrow TD {
/*  background-color: #ECF1EF; #F0FFFF*/
  background-color: #F0F8FF;
}

TR.titlerow TD {
  background-color: #3A5FCD;
/*  background-color: #436EEE;#7B68EE;#0000CD*/
  font-weight: bold;
  color: #FFFFFF;
}

TR.tyesrow TD {
  background-color: #FFFFFF;
  font-weight: bold;
/*  color: #00CD00;#ADFF2F;#C0FF3E; #9AFF9A; #F4F4F4; */
}

TR.tnorow TD {
  background-color: #FF4500;
  color: #FFFFFF;
/*  background-color: #FFFFFF; */
/*  color: #FF4500; */
  font-weight: bold;
}

TR.tnewrow TD {
  background-color: #00FF00;
  font-weight: bold;
}





.exampleCode {
  background-color: #F0F8FF;
  border-style: solid;
  border-width: 1;
  font-family: Courier;
  padding-top:  10pt;
  padding-bottom:  10pt;
  padding-left: 10pt;
  padding-rigth: 10pt;
  font-weight: bold;
  color: #330099;
}

.exampleText {
  font-family: Courier;
  font-weight: bold;
  color: #9999FF;
}

.pagebody H3 {
  color: #0000CD;
  border-style: none none solid solid;
  padding-left: 0.3em;
  border-width: thin;
  margin-top: 1.5em;
}

.indented {
  padding-left = 20pt;
}

.inset {
  padding-left = 20pt;
  padding-right = 20pt;
}

