{% extends "lhcbPR/base_template.html" %}

{% block title %} Analyse {% endblock title %}

{% block head %} {% endblock head %}

{% block script %}

$(document).ready(function() {
	$("#tabs").tabs();
	$("button").button();
	$("#analyseMenu").attr('checked', 'checked').button("refresh");
});

{% endblock script %}

{% block stylecss %} {% endblock stylecss %}

{% block helptext %} {% endblock helptext %}

{% block pagebody %} 

<div id="tabs">
	<ul>
		<li><a href="#applications">Applications</a></li>
	</ul>
	<div id="applications">
		Choose one of the following applications to make analysis:<br><br>
			{% for app in applications %}
			<button name="{{ app }}button" onclick="location.href='/django/lhcbPR/analyse/{{ app }}/'" style="padding:1.5em;margin-left:1em;">{{ app }}</button>
			{% endfor %}
	</div>
</div>

{% endblock pagebody %}
