{% extends "lhcbPR/base_template.html" %}

{% block title %} {{ active_tab }} analyse {% endblock title %}

{% block head %} {% endblock head %}

{% block script %} 

$(document).ready(function() {
		$("#analyseMenu").attr('checked', 'checked').button("refresh");
		{% for app in applications %}
		$('#{{ app }}tabButton').click(function(){ 
				document.location.href="/django/lhcbPR/analyse/{{ app }}/" ;
				$("#{{ active_tab }}tab").mask("Loading...");
			});
		{% endfor %}

		$('#tabs').tabs({ selected : -1 });
		$('#tabs').tabs('select', '#{{ active_tab }}tab');

		$("button").button();
});

{% endblock script %}

{% block stylecss %} {% endblock stylecss %}

{% block helptext %} 
Choose the type of analysis you want. ,  "TREND" is under construction
{% endblock helptext %}

{% block pagebody %} 
<div id="tabs">
	<ul>
		{% for app in applications %}
		<li><a id="{{ app }}tabButton" href="#{{ app }}tab">{{ app }}</a></li>
		{% endfor %}
	</ul>	<div id="{{ active_tab }}tab">
		Successful handlers for this application:
		<p>
			{% for h in handlers %}
				<li>{{ h }}</li> <br>
			{% endfor %}
		</p>
		Choose type of analysis: <br><br>
        {% for analysis in analysisList %}
            <button name="{{ active_tab }}buttonHistogram" onclick="location.href='/django/lhcbPR/analyse/{{ analysis.0 }}/{{ active_tab }}/'" style="padding:1em;margin-left:1em;">{{ analysis.1 }}</button>
        {% endfor %}
		<button name="TrendButton" onclick='alert("Under construction...")' style="padding:1em;margin-left:1em;">TREND</button>
	</div><!-- active_tab -->
</div><!--  /tabs -->

{% endblock pagebody %}
