<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"

       "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />		
		<!-- get the cookie to successfully make post request -->
		{% csrf_token %}

		<title>{% block title %}{% endblock title %}</title>
		<link href="/static/css/start/jquery-ui-1.9.0.custom.css" rel="stylesheet">
		<script src="/static/js/jquery-1.8.2.js"></script>
		<script src="/static/js/jquery-ui-1.9.0.custom.js"></script>

		<!-- fix the ajax post request to have the csrftoken -->
		<script src="/static/js/csrf_setup.js"></script>

		<link rel="stylesheet" href="/static/css/lhcbPR_new.css" media="screen">
		<!-- plugin for mask -->
		<script type="text/javascript" src="/static/plugins/mask/js/jquery.loadmask.js"></script>
		<link type="text/css" href="/static/plugins/mask/css/jquery.loadmask.css" rel="stylesheet" />
		{% block head %} {% endblock head %}
		<script type="text/javascript">
			$(document).ready(function () {
				$("#menu").buttonset();
				$("#homeMenu").click(function(){ document.location.href="/django/lhcbPR/";  $("#pagebody").mask("Loading..."); });
				$("#jobDescriptionsMenu").click(function(){ document.location.href="/django/lhcbPR/jobDescriptions/" ; $("#pagebody").mask("Loading..."); });
				$("#analyseMenu").click(function(){  document.location.href="/django/lhcbPR/analyse/"; $("#pagebody").mask("Loading...");  });
				$("#helpButton").click(function () {
				// check visibility
					if ($("#helpMenu").is(":hidden")) {
						// it's hidden - show it
						$("#helpMenu").slideDown("normal");
						$(this).removeClass("ui-state-focus");
					} else {
						// it's not hidden - slide it down
						$("#helpMenu").slideUp("normal");
						$(this).removeClass("ui-state-focus");
					}
				});
			});
			{% block script %} {% endblock script %}
		</script>
		
		<style type="text/css">
			{% block stylecss %} {% endblock stylecss %}
		</style>
</head>

<body>

<div> <!-- start header -->
	<div class="ui-widget-header header">
		<table>
			<tr>
				<td class="iconspace">
					<a href="http://cern.ch/lhcb-comp">
						<img id="lhcblogo"  src="http://lhcb-release-area.web.cern.ch/LHCb-release-area/DOC/images/lhcbcomputinglogo.gif" >
					</a>
			</td>
			<td class="headTitle">
				<h1><a href="/django/lhcbPR/" >LHCb Performance & Regression</a></h1>
				<div id="switcher"></div>
				<div class="headLogin">
					{% if myauth %}
					<a href="/django/lhcbPR/logout/?next=/django/lhcbPR/"> Logout </a>| {{ user.username }}
					{% else %}
					<a href="/django/login/"> Login</a>
					{% endif %}
				</div><!-- closing div ^^-->
			</td>
		</table>
	</div> <!-- /ui-widget-header -->

	<div id="menu">
		<input type="radio" id="homeMenu" name="radio" /><label for="homeMenu">Home</label>
		<input type="radio" id="jobDescriptionsMenu" name="radio" /><label for="jobDescriptionsMenu">Job Descriptions</label>
		<input type="radio" id="analyseMenu" name="radio" /><label for="analyseMenu">Analyse</label>
		<a  id="helpButton" href="javascript:;">help</a>
	</div>
</div> <!-- /header-->


	<div id="pagebody" class="pagebody">
		<div id="helpMenu" class="fakewindowcontain">
				<p class="helpText">{% block helptext %} {% endblock helptext %}</p>
				<div class="ui-widget-overlay"></div>
		</div>
		
{% block pagebody %} {% endblock pagebody %}
		
	</div> <!-- pagebody -->
</body>

</html>
