<html>
<!-- <script type="text/javascript" charset="utf-8" src="/js/JSON2.js"></script> -->
<script type="text/javascript">
function myMessage()
{
	alert("Under construction, coming soon");
}
</script>
<link rel="stylesheet" href="http://lhcb-release-area.web.cern.ch/LHCb-release-area/DOC/css/lhcb.css" type="text/css" media="screen">
<!-- <link rel="stylesheet" href="http://lhcb-release-area.web.cern.ch/LHCb-release-area/DOC/gauss/css/css.css" type="text/css" media="screen"> -->
<!-- <link rel="stylesheet" href="css.css" type="text/css" media="screen"> -->
<title>Home page</title>
</HEAD>
<BODY>
<div class="ctitle">
<TABLE id="pagetitle">
<TBODY>
<TR>
<TD class=iconspace>
<A href="http://cern.ch/lhcb-comp">
<IMG id=lhcblogo  src="http://lhcb-release-area.web.cern.ch/LHCb-release-area/DOC/images/lhcbcomputinglogo.gif" >
</A>
</TD>
<TD vAlign=middle align=center>
<H1><a href="/django/lhcbPR" >LHCb Perfomance & Regression</a></H1>

<div style="float: right;">
{% if myauth %}
<a href="/django/lhcbPR/logout/?next=/django/lhcbPR"> Logout </a>| {{ user.username }}
{% else %}
<a href="/django/lhcbPR/login"> Login</a>
{% endif %}
</div>
</TD>
</TR>
</TBODY>
</TABLE>
</div>
<div class=pagebody>
<div id=manifest>
<p>Choose between analyze existing jobs or submit a new one(new data)</p>
</div>
<h2>Choose your action</h2>
<button type="button" onclick="myMessage()">Analyze</button> 
<button type="button" onclick="location.href='newdata' ">New Data</button> 
</BODY>
</HTML>
