{% extends "lhcbPR/base_template.html" %}

{% block title %} Job descriptions  {% endblock title %}

{% block head %} {% endblock head %}

{% block script %}

$(document).ready(function() {		
	$("#tabs").tabs();
	$("button").button();
	$("#jobDescriptionsMenu").attr('checked', 'checked').button("refresh");
});

{% endblock script %}

{% block stylecss %} {% endblock stylecss %}

{% block helptext %} 
Choose one of the applications(click button) to see the existing job descriptions for the choosed application. Any time you can navigate back to home page,using the Home button, or choose a different application by clicking to the corresponding tab/button. Also you can go to analyze page by clicking on the Analyze button.
{% endblock helptext %}

{% block pagebody %}

<div id="tabs">
			<ul>
				<li><a href="#applications">Applications</a></li>
			</ul>
			<div id="applications">
				Choose one of the following applications:<br><br>
					{% for app in applications %}
					<button name="{{ app }}button" onclick="location.href='{{ rootbaseurl }}django/lhcbPR/jobDescriptions/{{ app }}/'" style="padding:1.5em;margin-left:1em;">{{ app }}</button>
					{% endfor %}
			</div>
		</div>

{% endblock pagebody %}
