<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>{{ active_tab }} job </title>
		<link type="text/css" href="/static/css/start/jquery-ui-1.8.22.custom.css" rel="stylesheet" />
		<script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery-ui-1.8.22.custom.min.js"></script>
		<script type="text/javascript" src="/static/js/bubble-tooltip.js"></script>
		<script type="text/javascript" src="/static/js/JobDescriptionFunctions.js"></script>
		<script type="text/javascript" src="/static/js/spin.js"></script>
		<!-- plugin for menu effect-->
		<link rel="stylesheet" href="/static/css/lhcbPR_new.css" media="screen">
		<script type="text/javascript">
			$(document).ready(function() {
				$('#menu').buttonset();
				/* on click functions for the menus */
				$('#homeMenu').click(function(){ 
						document.getElement
						document.location.href="/django/lhcbPR" 
				});
				$('#jobDescriptionsMenu').click(function(){ document.location.href="/django/lhcbPR/jobDescriptions" });
				$('#analyseMenu').click(function(){ document.location.href="/django/lhcbPR/analyse" });
				
				{% for app in applications %}
				$('#{{ app }}tabButton').click(function(){ document.location.href="/django/lhcbPR/jobDescriptions/{{ app }}" });
				{% endfor %}

				$('#tabs').tabs({ selected : -1 });
				$('#tabs').tabs('select', '#{{ active_tab }}tab');
				
				$('#overviewButton,#overviewButtonClone,#editPlatformsClone,#editHandlersClone,#overviewButtonEdit,#editHandlersEdit,#editPlatformsEdit #VersionButton,#OptionsButton,#PlatformButton,#SetupProjectButton,#VersionErase,#OptionsErase,#PlatformErase,#SetupProjectErase,#previous_button,#next_button,#mypermalink,button').hover(
					function() { $(this).addClass('ui-state-hover'); },
					function() { $(this).removeClass('ui-state-hover'); }
				);

				$("RunInDialog").button();
				$("EditInDialog").button();
				$("CloneInDialog").button();
				$("commitClone").button();
				$("goBackToDialog").button();
				$("commitEdit").button();
				$("goBackToDialogEdit").button();
			
			  	$("#VersionButton").click(function(){ showHide("VersionButton","Version") });
			  	$("#OptionsButton").click(function(){ showHide("OptionsButton","Options") });
			  	$("#PlatformButton").click(function(){ showHide("PlatformButton","Platform") });
			 	$("#SetupProjectButton").click(function(){ showHide("SetupProjectButton","SetupProject") });
			 	$("#VersionErase").click(function(){ clearCheckBox("Version") });
			 	$("#OptionsErase").click(function(){ clearCheckBox("Options") });
			  	$("#PlatformErase").click(function(){ clearCheckBox("Platform") });
			  	$("#SetupProjectErase").click(function(){ clearCheckBox("SetupProject") });

				$( "#JobDescriptions" ).selectable({
					stop: function() { $( ".ui-selected", this ).each(function() { openWindow( $(this).attr('id') ); }) }
				});
				$( "#availableAttributes" ).selectable({
					stop: function() { $( ".ui-selected", this ).each(function() { 
							$(this).removeClass("ui-selected");
							$("#requestedAttributes").append($(this)); 
							$("#availableAttributes").find("#"+$(this).attr('id')).remove(); }) }
				});
				$( "#requestedAttributes" ).selectable({
					stop: function() { $( ".ui-selected", this ).each(function() {
							$(this).removeClass("ui-selected");
							$("#availableAttributes").append($(this)); 
							$("#requestedAttributes").find("#"+$(this).attr('id')).remove(); }) }
				});

				doFilter({{ current_page}});
				
				$("#next_button").click(function(){ doFilter(myCurrent_page+1); });
				$("#previous_button").click(function(){ doFilter(myCurrent_page-1); });

				/* button for clone Dialog */
				$("#VersionClone").focusout(function() { makeOverview('cloneDialog'); });
				$("#VersionClone").keyup(function() { makeOverview('cloneDialog'); });
				$("#OptionsDClone").focusout(function() { fixInputs('OptionsDClone','OptionsClone','description','Options','onkeyup'); });
				$("#OptionsDClone").keyup(function() { fixInputs('OptionsDClone','OptionsClone','description','Options','onkeyup'); });
				$("#OptionsClone").focusout(function() { fixInputs('OptionsClone','OptionsDClone','content','Options','onblur') });
				$("#SetupProjectDClone").focusout(function(){ fixInputs('SetupProjectDClone','SetupProjectClone','description','SetupProject','onkeyup'); });
				$("#SetupProjectDClone").keyup(function(){ fixInputs('SetupProjectDClone','SetupProjectClone','description','SetupProject','onkeyup'); });
				$("#SetupProjectClone").focusout(function() { fixInputs('SetupProjectClone','SetupProjectDClone','content','SetupProject','onblur'); });
	

				$("#editPlatformsClone").click(function() { openPanel(myChoosedJob_id, "platforms","platformsClone"); });
				$("#editHandlersClone").click(function() { openPanel(myChoosedJob_id, "handlers","handlersClone"); });
				$("#editPlatformsEdit").click(function() { openPanel(myChoosedJob_id, "platforms","platformsEdit"); });
				$("#editHandlersEdit").click(function() { openPanel(myChoosedJob_id, "handlers","handlersEdit"); });
			});	

function doFilter(requested_page){
	box = document.getElementById("JobDescriptions");

	var xmlhttp;    
	if (window.XMLHttpRequest){
		// code for IE7+, Firefox, Chrome, Opera, Safari
  		xmlhttp=new XMLHttpRequest();
  	}
	else{
		// code for IE6, IE5
  		xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  	}

	// when the response comes do...
	xmlhttp.onreadystatechange=function()
	{
  		if (xmlhttp.readyState==4 && xmlhttp.status==200)
		{
			var jsondata = JSON.parse(xmlhttp.responseText);
			var jobs = jsondata.jobs;
			var pageInfo = jsondata.page_info;
			removeAllChilds("JobDescriptions"); 
			removeAllChilds("resultsNumber");
			addJobs(box,jobs);
			
			removeAllChilds("pagesInfo");
			myCurrent_page = pageInfo.current_page;
			document.getElementById("pagesInfo").appendChild(document.createTextNode("Page "+pageInfo.current_page+" of "+pageInfo.num_of_pages));
			document.getElementById("resultsNumber").appendChild(document.createTextNode(pageInfo.total_results+" results"));
					
			$("#next_button").hide();
			$("#previous_button").hide();

			if (pageInfo.current_page > 1){
				$("#previous_button").show();
			}
			if ( pageInfo.current_page < pageInfo.num_of_pages ){
				$("#next_button").show();
			}			
			//fix the permalink
			permalink();
    	}	
  	}
	var setupprojects = getSelectedChilds("SetupProject");
	var appVersions = getSelectedChilds("Version");
	
	var options = getSelectedChilds("Options");
	var cmts = getSelectedChilds("Platform");	

	// send the request the to server
	xmlhttp.open("GET", "https://alamages.cern.ch/django/lhcbPR/getFilters?page="+requested_page+"&app={{ active_tab }}"+"&appVersions="+escape(appVersions.join(","))+"&SetupProjects="+escape(setupprojects.join(","))+"&Options="+escape(options.join(","))+"&platforms="+escape(cmts.join(",")), true);
	xmlhttp.send();
	
	return;
}	
		</script>
</head>
<div id="header">
	<div class="ctitle">
		<table id="pagetitle">
			<tr>
				<td class="iconspace">
					<a href="http://cern.ch/lhcb-comp">
						<img id="lhcblogo"  src="http://lhcb-release-area.web.cern.ch/LHCb-release-area/DOC/images/lhcbcomputinglogo.gif" >
					</a>
			</td>
			<td class="headTitle">
				<h1><a href="/django/lhcbPR" >LHCb Perfomance & Regression</a></h1>
				<div class="headLogin">
					{% if myauth %}
					<a href="/django/lhcbPR/logout/?next=/django/lhcbPR"> Logout </a>| {{ user.username }}
					{% else %}
					<a href="/django/login/"> Login</a>
					{% endif %}
				</div><!-- closing div ^^-->
			</td>
		</table>
	</div> <!-- /ctitle -->

	<div id="menu">
		<input type="radio" id="homeMenu" name="radio" /><label for="homeMenu">Home</label>
		<input type="radio" id="jobDescriptionsMenu" name="radio" checked="checked" /><label for="jobDescriptionsMenu">Job Descriptions</label>
		<input type="radio" id="analyseMenu" name="radio" /><label for="analyseMenu">Analyse</label>
	</div>
</div> <!-- /header-->

<body>
	<div class="pagebody">
		<div id="tabs">
			<ul>
				{% for app in applications %}
				<li><a id="{{ app }}tabButton" href="#{{ app }}tab">{{ app }}</a></li>
				{% endfor %}
			</ul>
			<div id="{{ active_tab }}tab">

			<a  id="mypermalink" class="ui-state-default ui-corner-all" href="" target="_blank"> Permalink to selection </a>

			 <div class="Outer">
				<div class="InnerLeft">
						<table class="filter">
						<tr>
						<td><a href="javascript:;" id="VersionButton" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-minusthick"></span>Version</a>
								<a href="javascript:;" id="VersionErase" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-closethick"></span></a>
						</td>
						<tr>
						<td>
				 		   <ul id="Version" name="Version" class="checklist"  >
							{% for ver in appVersions %}
								<li>
										<label id="Version{{ forloop.counter }}">
											<input id="Version{{ forloop.counter }}a" type="checkbox" value="{{ ver.value }}" onchange="doFilter(1)" {% if ver.checked %} checked="checked" {% endif %}>
												{{ ver.value }}
										 </label>
								</li>
							{% endfor %}
						    </ul>
						</td>
						<tr>
						<td><a href="javascript:;" id="OptionsButton" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-minusthick"></span>Options</a>
								<a href="javascript:;" id="OptionsErase" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-closethick"></span></a>
						</td>
						<tr>
						<td>
						    <ul id="Options" name="Options" class="checklist" >
								{% for opt in options %}
								<li>
										<label id="Options{{ forloop.counter }}">
											<input id="Options{{ forloop.counter }}a" type="checkbox" value="{{ opt.value }}" onchange="doFilter(1)" {% if opt.checked %} checked="checked"  {% endif %}>
												{{ opt.value }}
										 </label>
								</li>
							{% endfor %}
						</td>
						<tr>
						<td><a href="javascript:;" id="SetupProjectButton" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-plusthick"></span>SetupProject</a>
								<a href="javascript:;" id="SetupProjectErase" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-closethick"></span></a>
						</td> 
						<tr>
						<td>
						    <ul id="SetupProject" name="SetupProject" class="checklist" >
							{% for setup in setupProject %}
								<li>
										<label id="SetupProject{{ forloop.counter }}">
											<input id="SetupProject{{ forloop.counter }}a" type="checkbox" value="{{ setup.value }}" onchange="doFilter(1)" {% if setup.checked %} checked="checked" {% endif %}>
												{{ setup.value }}
										 </label>
								</li>
							{% endfor %}
						    </ul>
						</td>
						<tr>
						<td><a href="javascript:;" id="PlatformButton" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-plusthick"></span>Platform</a>
								<a href="javascript:;" id="PlatformErase" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-closethick"></span></a>
						</td>
						<tr>
						<td>
				 		   <ul id="Platform" name="Platform" class="checklist">
							{% for plat in platforms %}
								<li>
										<label id="Platform{{ forloop.counter }}">
											<input id="Platform{{ forloop.counter }}a" type="checkbox" value="{{ plat.value }}" onchange="doFilter(1)" {% if plat.checked %} checked="checked"  {% endif %}>
												{{ plat.value }}
										 </label>
								</li>
							{% endfor %}
						    </ul>
						</td>
						</table><!-- closing div id=myfilter -->
					</div><!-- /InnerLeft -->
					<div class="InnerRight">
						<div id="pagingButtons">
							<ul id="icons" class="ui-widget ui-helper-clearfix">
								<li id="previous_button" class="ui-state-default ui-corner-all" title="previous page"><span class="ui-icon ui-icon-arrowthick-1-w"></span></li>
								<li id="next_button" class="ui-state-default ui-corner-all" title="next page"><span class="ui-icon ui-icon-arrowthick-1-e"></span></li>
								<div id="pagepanel">
									<span id="pagesInfo"></span>
									<span id="resultsNumber"></span>
								</div>
							</ul>
						</div><!-- pagingButtons -->

						<ol id="JobDescriptions">
							<!-- <li class="ui-widget-content">Item 1</li> -->	
						</ol>
					</div>

			 </div><!--  /Outer -->
			</div><!-- active_tab -->
		</div><!--  /tabs -->
	</div> <!-- pagebody -->

<!------------------------------------------------------- dialog divs ----------------------------------------------------->
<div id="dialog" title="" >
<div class="dialogContainer">
	<div class="InnerLeftDialog">
	<div class="OuterDialog">
		<div id="JobDescriptionDetails" class="InnerLeftDialog">
			<table class="dialogTable"><tr>
				<td>Application:</td>
				<td><input id="ApplicationDetails" type="text" value=""  readOnly="readonly" /></td><tr>
				<td>Version:</td>
				<td><input id="VersionDetails" type="text" value="" readOnly="readonly"/></td>
				<tr>
				<td >Options:</td>
				<td><input id="OptionsDDetails"type="text" value="" readOnly="readonly" /></td><tr>
				<td></td>
				<td><input id="OptionsDetails" type="text" value="" readOnly="readonly" /></td>
				<tr>
				<td >SetupProject:</td>
				<td><input id="SetupProjectDDetails" type="text" value="" readOnly="readonly"/></td><tr>
				<td></td>
				<td><input id="SetupProjectDetails" type="text" value="" readOnly="readonly"/></td>
			</table><br>
			<br>
			<a id="overviewButton" class="ui-state-default ui-corner-all" href="javascript:;">
				<span class="ui-icon ui-icon-arrowthick-1-s"></span>Overview
			</a>

			<div id="overviewDialog" >
				<p id="overviewDialogP"></p>
			</div>
		</div> <!-- closing the JobDescriptionDetails-->

		<div id="platformContainer" class="InnerRightDialog">
			<span>Requested platforms: </span> 
			<p  id="platformsDetails"></p>

			<span>Handlers: </span>
				<p  id="handlersDetails"></p>
			</span>
		</div><!-- /innerRightDialog -->
	</div> <!-- /OuterDialog -->
	</div><!--InnerLeftRight(for the dialogcontainer) -->
	<div id="DialogButtons" class="InnerRightDialog">
		<button id="RunInDialog" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false"><span class="ui-button-text">Run</span></button>
		<br><br>
		<button id="CloneInDialog" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false"><span class="ui-button-text">Clone</span></button>
		<br><br>
		<button id="EditInDialog" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false"><span class="ui-button-text">Edit</span></button>
		<br><br>
	</div> <!--InnerRightDialog(for the dialogcontainer) -->
 	<!--  /outerAll  -->
	
</div><!-- DialogContainer -->
	
	<button id="dialogClose" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false"><span class="ui-button-text">Close</span></button>
</div> <!-- closing the  dialog -->

<!----------------------------------- CLONE DIALOG ----------------------------------->
<div id="cloneDialog" title="" >
<div class="dialogContainer">
	<div class="InnerLeftDialog">
	<div class="OuterDialog">
		<div id="JobDescriptionClone" class="InnerLeftDialog">
			<table class="dialogTable"><tr>
				<td>Application:</td>
				<td><input id="ApplicationClone" type="text" value=""  readOnly="readonly" /></td><tr>
				<td>Version:</td>
				<td><input id="VersionClone" type="text" value="" /></td>
				<tr>
				<td >Options:</td>
				<td><input id="OptionsDClone"type="text" value="" /></td><tr>
				<td></td>
				<td><input id="OptionsClone" type="text" value="" readOnly="readonly" /></td>
				<tr>
				<td >SetupProject:</td>
				<td><input id="SetupProjectDClone" type="text" value=""/></td><tr>
				<td></td>
				<td><input id="SetupProjectClone" type="text" value="" readOnly="readonly"/></td>
			</table><br>
			<br>
			<a id="overviewButtonClone" class="ui-state-default ui-corner-all" href="javascript:;">
				<span class="ui-icon ui-icon-arrowthick-1-s"></span>Overview
			</a>

			<div id="overviewClone" >
				<p id="overviewCloneP"></p>
			</div>
		</div> <!-- closing the JobDescriptionClone-->

		<div id="platformContainer" class="InnerRightDialog">
			<span>Requested platforms: </span>
			<a id="editPlatformsClone" class="ui-state-default ui-corner-all" href="javascript:;"><span class="ui-icon ui-icon-wrench"></span>edit</a>
			<p  id="platformsClone"></p>

			<span>Handlers: </span>
			<a id="editHandlersClone" class="ui-state-default ui-corner-all" href="javascript:;"><span class="ui-icon ui-icon-wrench"></span>edit</a>
				<p  id="handlersClone"></p>
			</span>
		</div><!-- /innerRightDialog -->
	</div> <!-- /OuterDialog -->
	</div><!--InnerLeftRight(for the dialogcontainer) -->
	<div id="DialogButtons" class="InnerRightDialog">
		<button id="commitClone" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false"><span class="ui-button-text">Commit</span></button>
		<br><br>
		<button id="goBackToDialog" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false"><span class="ui-button-text">Cancel</span></button>
	</div> <!--InnerRightDialog(for the dialogcontainer) -->
 	<!--  /outerAll  -->

</div><!-- DialogContainer -->
</div> <!-- closing the  dialogClone -->


<!---------------------------------------------- EDIT DIALOG --------------------------------------------------->
<div id="editDialog" title="" >
<div class="dialogContainer">
	<div class="InnerLeftDialog">
	<div class="OuterDialog">
		<div id="JobDescriptionEdit" class="InnerLeftDialog">
			<p id="editMessage"><p>
			<table class="dialogTable"><tr>
				<td>Application:</td>
				<td><input id="ApplicationEdit" type="text" value=""  readOnly="readonly" /></td><tr>
				<td>Version:</td>
				<td><input id="VersionEdit" type="text" value="" readOnly="readonly"/></td>
				<tr>
				<td >Options:</td>
				<td><input id="OptionsDEdit"type="text" value="" readOnly="readonly"/></td><tr>
				<td></td>
				<td><input id="OptionsEdit" type="text" value="" readOnly="readonly" /></td>
				<tr>
				<td >SetupProject:</td>
				<td><input id="SetupProjectDEdit" type="text" value="" readOnly="readonly"/></td><tr>
				<td></td>
				<td><input id="SetupProjectEdit" type="text" value="" readOnly="readonly"/></td>
			</table><br>
			<br>
			<a id="overviewButtonEdit" class="ui-state-default ui-corner-all" href="javascript:;">
				<span class="ui-icon ui-icon-arrowthick-1-s"></span>Overview
			</a>

			<div id="overviewEdit" >
				<p id="overviewEditP"></p>
			</div>
		</div> <!-- closing the JobDescriptionClone-->

		<div id="platformContainer" class="InnerRightDialog">
			<span>Requested platforms: </span>
			<a id="editPlatformsEdit" class="ui-state-default ui-corner-all" href="javascript:;"><span class="ui-icon ui-icon-wrench"></span>edit</a>
			<p  id="platformsEdit"></p>

			<span>Handlers: </span>
			<a id="editHandlersEdit" class="ui-state-default ui-corner-all" href="javascript:;"><span class="ui-icon ui-icon-wrench"></span>edit</a>
				<p  id="handlersEdit"></p>
			</span>
		</div><!-- /innerRightDialog -->
	</div> <!-- /OuterDialog -->
	</div><!--InnerLeftRight(for the dialogcontainer) -->
	<div id="DialogButtons" class="InnerRightDialog">
		<button id="commitEdit" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false"><span class="ui-button-text">Commit</span></button>
		<br><br>
		<button id="goBackToDialogEdit" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false"><span class="ui-button-text">Cancel</span></button>
	</div> <!--InnerRightDialog(for the dialogcontainer) -->
 	<!--  /outerAll  -->

</div><!-- DialogContainer -->
</div> <!-- closing the  dialogClone -->

<!-------------------------------------- EDIT HANDLERS/PLATFORMS PANEL --------------------------------------->
<div id="editPlatformsHandlers" title="">
	<div id="panelContainer">
		<div class="InnerLeft">
			<p id="availableTitle"></p>
			<ol id="availableAttributes">
					<!-- <li class="ui-widget-content">Item 1</li> -->	
			</ol>
		</div><!-- InnerLeft -->
		<div class="InnerRight">
			<p id="requestedTitle"></p>
			<ol id="requestedAttributes">
					<!-- <li class="ui-widget-content">Item 1</li> -->	
			</ol>
		</div><!-- InnerRight -->
	</div><!-- panelContainer  -->
</div><!--  /editPlatformsHandlers -->


<div id="alertDialog" title="">
	<p>
		<span id="alertDialogIcon" class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 50px 0;"></span>
		<span id="alertMessage"><span>
	</p>
	<p id="alertMessage2">
	</p>
</div>

</body>

</html>
