<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>{{ active_tab }} job </title>
		<link type="text/css" href="/static/css/start/jquery-ui-1.8.22.custom.css" rel="stylesheet" />
		<script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery-ui-1.8.22.custom.min.js"></script>
		<script type="text/javascript" src="/static/js/bubble-tooltip.js"></script>
		<script type="text/javascript" src="/static/js/JobDescriptionFunctions.js"></script>
		<script type="text/javascript" src="/static/js/spin.js"></script>
		<!-- plugin for menu effect-->
		<link rel="stylesheet" href="/static/css/lhcbPR_new.css" media="screen">
		<script type="text/javascript">
			$(document).ready(function() {
				var opts = {
  					lines: 13, // The number of lines to draw
   					 length: 7, // The length of each line
   					 width: 4, // The line thickness
   					 radius: 10, // The radius of the inner circle
   					 rotate: 0, // The rotation offset
   					 color: '#000', // #rgb or #rrggbb
   					 speed: 1, // Rounds per second
   					 trail: 60, // Afterglow percentage
   					 shadow: false, // Whether to render a shadow
   					 hwaccel: false, // Whether to use hardware acceleration
  					  className: 'spinner', // The CSS class to assign to the spinner
  					  zIndex: 2e9, // The z-index (defaults to 2000000000)
  					  top: 'auto', // Top position relative to parent in px
  					  left: 'auto' // Left position relative to parent in px
  					};
  					var target = document.getElementById('foo');
  					var spinner = new Spinner(opts).spin(target);
			});

				$('#menu').buttonset();
				/* on click functions for the menus */
				$('#homeMenu').click(function(){ 
						document.getElement
						document.location.href="/django/lhcbPR" 
				});
				$('#jobDescriptionsMenu').click(function(){ document.location.href="/django/lhcbPR/jobDescriptions" });
				$('#analyseMenu').click(function(){ document.location.href="/django/lhcbPR/analyse" });
				
				{% for app in applications %}
				$('#{{ app }}tabButton').click(function(){ document.location.href="/django/lhcbPR/jobDescriptions/{{ app }}" });
				{% endfor %}

				$('#tabs').tabs({ selected : -1, spinner: "Retrieving data..."});
				$('#tabs').tabs('select', '#{{ active_tab }}tab');
				
				$('#VersionButton,#OptionsButton,#PlatformButton,#SetupProjectButton,#VersionErase,#OptionsErase,#PlatformErase,#SetupProjectErase').hover(
					function() { $(this).addClass('ui-state-hover'); },
					function() { $(this).removeClass('ui-state-hover'); }
				);

			  $("#VersionButton").click(function(){ showHide("VersionButton","Version") });
			  $("#OptionsButton").click(function(){ showHide("OptionsButton","Options") });
			  $("#PlatformButton").click(function(){ showHide("PlatformButton","Platform") });
			  $("#SetupProjectButton").click(function(){ showHide("SetupProjectButton","SetupProject") });
			  $("#VersionErase").click(function(){ clearCheckBox("Version") });
			  $("#OptionsErase").click(function(){ clearCheckBox("Options") });
			  $("#PlatformErase").click(function(){ clearCheckBox("Platform") });
			  $("#SetupProjectErase").click(function(){ clearCheckBox("SetupProject") });

				
		</script>
</head>
<div id="header">
	<div class="ctitle">
		<table id="pagetitle">
			<tr>
				<td class="iconspace">
					<a href="http://cern.ch/lhcb-comp">
						<img id="lhcblogo"  src="http://lhcb-release-area.web.cern.ch/LHCb-release-area/DOC/images/lhcbcomputinglogo.gif" >
					</a>
			</td>
			<td class="headTitle">
				<h1><a href="/django/lhcbPR" >LHCb Perfomance & Regression</a></h1>
				<div class="headLogin">
					{% if myauth %}
					<a href="/django/lhcbPR/logout/?next=/django/lhcbPR"> Logout </a>| {{ user.username }}
					{% else %}
					<a href="/django/login/"> Login</a>
					{% endif %}
				</div><!-- closing div ^^-->
			</td>
		</table>
	</div> <!-- /ctitle -->

	<div id="menu">
		<input type="radio" id="homeMenu" name="radio" /><label for="homeMenu">Home</label>
		<input type="radio" id="jobDescriptionsMenu" name="radio" checked="checked" /><label for="jobDescriptionsMenu">Job Descriptions</label>
		<input type="radio" id="analyseMenu" name="radio" /><label for="analyseMenu">Analyse</label>
	</div>
</div> <!-- /header-->

<body>
	<div class="pagebody">
		<div id="tabs">
			<ul>
				{% for app in applications %}
				<li><a id="{{ app }}tabButton" href="#{{ app }}tab">{{ app }}</a></li>
				{% endfor %}
			</ul>
			<div id="{{ active_tab }}tab">
				<div id="filterDiv">
						<table class="filter">
						<tr>
						<td><a href="javascript:;" id="VersionButton" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-minusthick"></span>Version</a>
								<a href="javascript:;" id="VersionErase" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-closethick"></span></a>
						</td>
						<tr>
						<td>
				 		   <ul id="Version" name="Version" class="checklist"  >
							{% for ver in appVersions %}
								<li>
										<label id="Version{{ forloop.counter }}">
											<input id="Version{{ forloop.counter }}a" type="checkbox" value="{{ ver.value }}" onchange="doFilter(1)" {% if ver.checked %} checked="checked" {% endif %}>
												{{ ver.value }}
										 </label>
								</li>
							{% endfor %}
						    </ul>
						</td>
						<tr>
						<td><a href="javascript:;" id="OptionsButton" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-minusthick"></span>Options</a>
								<a href="javascript:;" id="OptionsErase" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-closethick"></span></a>
						</td>
						<tr>
						<td>
						    <ul id="Options" name="Options" class="checklist" >
								{% for opt in options %}
								<li>
										<label id="Options{{ forloop.counter }}">
											<input id="Options{{ forloop.counter }}a" type="checkbox" value="{{ opt.value }}" onchange="doFilter(1)" {% if opt.checked %} checked="checked"  {% endif %}>
												{{ opt.value }}
										 </label>
								</li>
							{% endfor %}
						</td>
						<tr>
						<td><a href="javascript:;" id="SetupProjectButton" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-plusthick"></span>SetupProject</a>
								<a href="javascript:;" id="SetupProjectErase" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-closethick"></span></a>
						</td> 
						<tr>
						<td>
						    <ul id="SetupProject" name="SetupProject" class="checklist" >
							{% for setup in setupProject %}
								<li>
										<label id="SetupProject{{ forloop.counter }}">
											<input id="SetupProject{{ forloop.counter }}a" type="checkbox" value="{{ setup.value }}" onchange="doFilter(1)" {% if setup.checked %} checked="checked" {% endif %}>
												{{ setup.value }}
										 </label>
								</li>
							{% endfor %}
						    </ul>
						</td>
						<tr>
						<td><a href="javascript:;" id="PlatformButton" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-plusthick"></span>Platform</a>
								<a href="javascript:;" id="PlatformErase" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-closethick"></span></a>
						</td>
						<tr>
						<td>
				 		   <ul id="Platform" name="Platform" class="checklist">
							{% for plat in platforms %}
								<li>
										<label id="Platform{{ forloop.counter }}">
											<input id="Platform{{ forloop.counter }}a" type="checkbox" value="{{ plat.value }}" onchange="doFilter(1)" {% if plat.checked %} checked="checked"  {% endif %}>
												{{ plat.value }}
										 </label>
								</li>
							{% endfor %}
						    </ul>
						</td>
						</table>
				</div><!-- closing div id=myfilter -->



			</div><!-- active_tab -->
		</div><!--  /tabs -->
	</div> <!-- pagebody -->
</body>

</html>
