{% extends "lhcbPR/base_template.html" %}

{% block title %} {{ active_tab }} job list {% endblock title %}

{% block head %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
google.load('visualization', '1.2', {packages: ['table']});

var cnf_data;
var cnf_view;

function drawVisualization() {
   // Create and populate the data table.
	var cnfs = {{ configs|safe }};
   cnf_data = google.visualization.arrayToDataTable(cnfs);
   cnf_data.setColumnLabel(0, "Id");
   cnf_data.setColumnLabel(1, "Project");
   cnf_data.setColumnLabel(2, "Version");
   cnf_data.setColumnLabel(3, "Platform");
   cnf_data.setColumnLabel(4, "Options Name");
   cnf_data.setColumnLabel(5, "Options");
   cnf_data.setColumnLabel(6, "Setup Name");
   cnf_data.setColumnLabel(7, "Setup Options");
   cnf_data.setColumnLabel(8, "State");
   cnf_data.setColumnLabel(9, "Count");
   // BUGFIX: Workaround, first line otherwise skipped.
   cnf_data.addRow(cnfs[0]);
   cnf_data.sort([{column: 0, desc: true }]);

   var formatter = new google.visualization.TableColorFormat();
   formatter.addRange(0   , 0.33, 'black', 'red');
   formatter.addRange(0.33, 0.66, 'black', 'orange');
   formatter.addRange(0.66, 2.00, 'black', 'green');
   formatter.format(cnf_data, 8);
   var num_formatter = new google.visualization.TableNumberFormat({pattern:'#.##%'});
   num_formatter.format(cnf_data, 8);

   cnf_view = new google.visualization.DataView(cnf_data);
   cnf_view.setColumns([0, 1, 2, 3, 4, 6, 9, 8]);

   // Create and draw the visualization.
   cnf_visualization = new google.visualization.Table(document.getElementById('left'));

   var cnfStyle = {
      oddTableRow : 'google-table-row-odd',
      headerCell  : 'google-table-head'
   }

   cnf_visualization.draw(cnf_view, {
      allowHtml: true,
      width: 600,
      height: 670,
      page: 'enable',
      pageSize : 15,
      pagingSymbols: {prev: '<', next: '>'},
      pagingButtonsConfiguration: 'auto',
      alternatingRowStyle: true,
      cssClassNames: cnfStyle
   });

   google.visualization.events.addListener(cnf_visualization, 'select', handleConfigs);
}

// Handler to set configuration info
function handleConfigs()
{
   var selection      = cnf_visualization.getSelection();
   var description_id = cnf_data.getValue(selection[0].row, 0);
   var app_name       = cnf_data.getValue(selection[0].row, 1);
   location.href = "{{ ROOT_URL }}joblistInfo/" + app_name + "/" + description_id;
}

google.setOnLoadCallback(drawVisualization);
</script>
{% endblock head %}

{% block script %}

$(document).ready(function () {
   $("#jobListMenu").attr('checked', 'checked').button("refresh");
   $('#AlltabButton').click(function(){
      document.location.href="{{ ROOT_URL }}joblist/All/" ;
      $("#{{ active_tab }}tab").mask("Loading...");
   });
   {% for app in applications %}
   $('#{{ app }}tabButton').click(function(){
      document.location.href="{{ ROOT_URL }}joblist/{{ app }}/" ;
      $("#{{ active_tab }}tab").mask("Loading...");
   });
   {% endfor %}

	$('#tabs').tabs({ selected : -1 });
	$('#tabs').tabs('select', '#{{ active_tab }}tab');

   $("button").button();
});

{% endblock script %}

{% block stylecss %}

#main {
    width: 1200px;
    height: 700px;
}
#header {
    width: 1200px;
    height: 10px;
}
#left {
    width: 600px;
    height: 670px;
    float:left;
}
#right {
    height: 670px;
    margin-left: 30px;
    overflow: hidden;
}
#footer {
    width: 1200px;
    height: 20px;
}
.google-table-row-odd {
   background-color: #eef3f6;
}
.google-table-row {
   background-color: #6ca6cd;
}
.google-table-head {
   background-color: #6ca6cd;
   font-size: 12px;
   height: 20px;
}
.google-table td {
   font-size: 10px;
   height: 30px;
}

{% endblock stylecss %}

{% block helptext %} {% endblock helptext %}

{% block pagebody %}

<div id="tabs">
   <ul>
		<li><a id="AlltabButton" href="#Alltab">All</a></li>
		{% for app in applications %}
		<li><a id="{{ app }}tabButton" href="#{{ app }}tab">{{ app }}</a></li>
		{% endfor %}
   </ul>
   <div id="{{ active_tab }}tab">
   <div id="main">
      <div id="left" class="google-table"></div>
      <div id="right" class="google-table"></div>
      <div id="cleaner"> 
   </div>
   <div id="footer"></div>
   </div>
</div>

{% endblock pagebody %}
