{% extends "lhcbPR/base_template.html" %}

{% block title %} Job List {% endblock title %}

{% block head %}
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
google.load('visualization', '1', {packages: ['table']});

var job_data;

function drawVisualization() {
   // Create and populate the data table.
	var jobs = {{ jobs|safe }};

   job_data = google.visualization.arrayToDataTable(jobs);
   job_data.setColumnLabel(0, "Id");
   job_data.setColumnLabel(1, "Project");
   job_data.setColumnLabel(2, "Version");
   job_data.setColumnLabel(4, "Platform");
   job_data.setColumnLabel(5, "Options");
   job_data.setColumnLabel(7, "Start");
   job_data.setColumnLabel(8, "End");
   job_data.setColumnLabel(9, "Success");
   job_data_view = new google.visualization.DataView(job_data);
   job_data_view.setColumns([0,7,8,9]);

   // Create and draw the visualization.
   job_visualization = new google.visualization.Table(document.getElementById('left'));

   var cnfStyle = {
      oddTableRow : 'google-table-row',
      headerCell  : 'google-table-head'
   }

   job_visualization.draw(job_data_view, {
      allowHtml: true,
      width  : 600,
      height : 670,
      page   : 'enable',
      pageSize: 16,
      pagingSymbols: {prev: 'prev', next: 'next'},
      pagingButtonsConfiguration: 'auto',
      chartArea: {
            left: 250,
            width: "60%"
      },
      alternatingRowStyle: true,
      cssClassNames: cnfStyle
   });

   showInfo();

   google.visualization.events.addListener(job_visualization, 'select', handleJobs);
}

function showInfo() {
   $("#job_info_head").empty();
   $("#job_info_head").append($("<label>").html("<h3>Job description: </h3>"));
   $("#job_info_head").append($("<hr>"));
   $("#job_info_head").append($("<p>"));
   if (job_data.getNumberOfRows() > 0) {
      var app = job_data.getValue(1, 1);
      var ver = job_data.getValue(1, 2);
      var plt = job_data.getValue(1, 4);
      var opt = job_data.getValue(1, 5);
      var application = "Project: " + app + " vers./rev. " + ver;
      $("#job_info_head").append($("<label>").html(application));
      $("#job_info_head").append($("<p>"));
      var platform = "Platform: " + plt;
      $("#job_info_head").append($("<label>").html(platform));
      $("#job_info_head").append($("<p>"));
      var options = "Options: " + opt;
      $("#job_info_head").append($("<label>").html(options));
      $("#job_info_head").append($("<p>"));
   }
}

// Handler to set configuration info
function handleJobs()
{
   var selection = job_visualization.getSelection();
   var job_id = job_data.getValue(selection[0].row, 0);
   var app_id = job_data.getValue(selection[0].row, 3);
   var opt_id = job_data.getValue(selection[0].row, 6);
   $("#job_info").empty();
   $("#job_info").append($("<label>").html("<h3>Job information: </h3>"));
   $("#job_info").append($("<hr>"));
   $("#job_info").append($("<p>"));
   $("#job_info").append($("<label>").html("Results:"));
   $("#job_info").append($("<p>"));
   var info = {{ infos|safe }};
   if (job_id == info[0][0])
      $("#job_info").append($("<label>").html(info[0][4]));

   $("#job_info").append($("<p>"));
   $("#job_info").append($("<label>").html("Files:"));
   $("#job_info").append($("<p>"));
   var files = {{ files|safe }};
   for (var f in files) {
      if (job_id == files[f][0]) {
         $("#job_info").append($("<a>",
            { 'href': '{{ MEDIA_URL }}' + files[f][2],
              'html': files[f][1] }
         ));
         $("#job_info").append($("<br>"));
      }
   }
   $("#job_links").empty();
   $("#job_links").append($("<p>"));
   $("#job_links").append($("<label>").html("Links:"));
   $("#job_links").append($("<hr>"));
   {% for gr in groups %}
   $("#job_links").append($("<a>",
      { 'href': '{{ ROOT_URL }}analyse/overview/{{ application }}' +
                '?grps={{ gr }}' +
                '&jobs=' + job_id + 
                '&options=' + opt_id +
                '&versions=' + app_id +
                '&trigger=true',
        'html': '{{ gr }}' }
      ));
   $("#job_links").append($("<br>"));
   {% endfor %}
}

google.setOnLoadCallback(drawVisualization);
</script>
{% endblock head %}

{% block script %}

$(document).ready(function () {
	$("#jobListMenu").attr('checked', 'checked').button("refresh");
	$('#tabs').tabs({ selected : -1 });
	$('#tabs').tabs('select', '#{{ active_tab }}tab');
});

{% endblock script %}

{% block stylecss %}

#main {
    width: 1200px;
    height: 700px;
}
#header {
    width: 1200px;
    height: 10px;
}
#left {
    width: 600px;
    height: 670px;
    margin-left: 30px;
    float:left;
}
#right {
    height: 670px;
    margin-left: 30px;
    overflow: hidden;
}
#footer {
    width : 1200px;
    height: 20px;
}
.info-box-head {
    width : 550px;
    height: 150px;
}
.info-box {
    width : 550px;
    height: 300px;
}
.info-box-links {
    width : 550px;
    height: 50px;
}
.google-table-row {
   background-color: lightblue;
}
.google-table-head {
   background-color: skyblue;
   font-size: 12px;
   height: 20px;
}
.google-table td {
   font-size: 10px;
   height: 30px;
}

{% endblock stylecss %}

{% block helptext %} {% endblock helptext %}

{% block pagebody %}

<div id="tabs">
   <ul>
		<li><a id="AlltabButton" href="#Alltab">All</a></li>
   </ul>
   <div id="header"></div>
   <div id="main">
      <div id="left" class="google-table"></div>
      <div id="right" class="google-table">
         <table>
         <tr><td>
            <div id="job_info_head" class="info-box-head"> 
         </td></tr>
         <tr><td>
            <div id="job_info" class="info-box">
         </td></tr>
         <tr><td>
            <div id="job_links" class="info-box-links">
         </td></tr>
         </table>
      </div>
      <div id="cleaner"> 
   </div>
   <div id="footer"></div>
</div>

{% endblock pagebody %}
