{% extends "lhcbPR/base_template.html" %}

{% block title %} {{ active_tab }} job list {% endblock title %}

{% block head %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
google.load('visualization', '1.2', {packages: ['controls']});
/*
 * Var for configuration data, DataTable & DataView.
*/ 
var cnf_data;
var cnf_view;
/*
 * Draw table of jobs.
*/
function drawVisualization() {
   // Create and populate the data table.
	var cnfs = {{ configs|safe }};
   for (var i = 0; i<cnfs.length; i++) { 
      cnfs[i][11] = new Date(cnfs[i][11]*1000);
   }
   cnf_data = new google.visualization.DataTable();
   cnf_data.addColumn('number', 'Id');
   cnf_data.addColumn('string', 'App.');
   cnf_data.addColumn('string', 'Version');
   cnf_data.addColumn('number', 'PlatformID');
   cnf_data.addColumn('string', 'Platform');
   cnf_data.addColumn('number', 'HostID');
   cnf_data.addColumn('string', 'Hostname');
   cnf_data.addColumn('string', 'Option Name');
   cnf_data.addColumn('string', 'Option');
   cnf_data.addColumn('string', 'Setup Name');
   cnf_data.addColumn('string', 'Setup Option');
   cnf_data.addColumn('datetime', 'Latest Run');
   cnf_data.addColumn('number', 'State');
   cnf_data.addColumn('number', 'Count');
   // BUGFIX: Workaround, first line otherwise skipped.
   cnf_data.addRows(cnfs);
   // Sorted already in SQL-Request, in case:
   //cnf_data.sort([{column: 8, desc: true }]);

   var formatter = new google.visualization.TableColorFormat();
   formatter.addRange(0   , 0.33, 'black', 'red');
   formatter.addRange(0.33, 0.66, 'black', 'orange');
   formatter.addRange(0.66, 2.00, 'black', 'green');
   formatter.format(cnf_data, 12);
   var num_formatter = new google.visualization.TableNumberFormat({pattern:'#.##%'});
   num_formatter.format(cnf_data, 12);

   cnf_view = new google.visualization.DataView(cnf_data);
   cnf_view.setColumns([0, 1, 2, 4, 6, 7, 9, 11, 13, 12]);

   var cnfStyle = {
      oddTableRow : 'google-table-row-odd',
      headerCell  : 'google-table-head'
   }

   /* Add category filter for versions. */
   var vers_picker = new google.visualization.ControlWrapper({
      'controlType': 'CategoryFilter',
      'containerId': 'left-version-picker',
      'options': {
         'filterColumnLabel': 'Version',
         'ui': {
            'allowTyping'  : false,
            'allowMultiple': false,
            'labelStacking': 'vertical'
         }
      }
   });

   /* Add category filter for platforms. */
   var plat_picker = new google.visualization.ControlWrapper({
      'controlType': 'CategoryFilter',
      'containerId': 'left-platform-picker',
      'options': {
         'filterColumnLabel': 'Platform',
         'ui': {
            'allowTyping'  : false,
            'allowMultiple': false,
            'labelStacking': 'vertical'
         }
      }
   });

   /* Add category filter for options. */
   var opt_picker = new google.visualization.ControlWrapper({
      'controlType': 'CategoryFilter',
      'containerId': 'left-option-picker',
      'options': {
         'filterColumnLabel': 'Option Name',
         'ui': {
            'allowTyping'  : false,
            'allowMultiple': false,
            'labelStacking': 'vertical'
         }
      }
   });

   /* Add category filter for options. */
   var setup_picker = new google.visualization.ControlWrapper({
      'controlType': 'CategoryFilter',
      'containerId': 'left-setup-picker',
      'options': {
         'filterColumnLabel': 'Setup Name',
         'ui': {
            'allowTyping'  : false,
            'allowMultiple': false,
            'labelStacking': 'vertical'
         }
      }
   });

   /* Add tabel for link data. */
   var cnf_table = new google.visualization.ChartWrapper({
      'chartType'  : 'Table',
      'containerId': 'left-table',
      'options'    : {
         'width'     : 820,
         'height'    : 600,
         'chartArea': {top: 0, right: 0, bottom: 0},
         'allowHtml' : true,
         'page'      : 'enable',
         'pageSize'  : 14,
         'pagingSymbols': {prev: '<', next: '>'}, 
         'pargingButtonsConfiguration': 'auto',
         'alternatingRowStyle': true,
         'cssClassNames'      : cnfStyle
      }
   });

   /* Create dashboard and combine filters. */
   new google.visualization.Dashboard(document.getElementById('left')).
      bind(vers_picker, plat_picker).
      bind(plat_picker, opt_picker).
      bind(opt_picker, setup_picker).
      bind(setup_picker, cnf_table).
      draw(cnf_view);

   /* Handler in wrapper can first be added, when ready. */
   google.visualization.events.addListener(cnf_table, 'ready', function(){
      google.visualization.events.addListener(cnf_table.getChart(), 'select', function() {
         var selection = cnf_table.getChart().getSelection();
         var state_vers = vers_picker.getState();
         var state_plat = plat_picker.getState();
         var state_opt  = opt_picker.getState();
         var state_setup  = setup_picker.getState();

         var index;

         var filter = new Array();

         if ( state_vers.selectedValues[0] != undefined ) {
            filter.push({column: 2, value: state_vers.selectedValues[0]});
         }
         if ( state_plat.selectedValues[0] != undefined ) {
            filter.push({column: 3, value: state_plat.selectedValues[0]});
         }
         if ( state_opt.selectedValues[0] != undefined ) {
            filter.push({column: 4, value: state_opt.selectedValues[0]});
         }
         if ( state_setup.selectedValues[0] != undefined ) {
            filter.push({column: 5, value: state_setup.selectedValues[0]});
         }

         if ( filter.length > 0 ) {
            var rows = cnf_view.getFilteredRows(filter);
            index = rows[selection[0].row];
         } else {
            index = selection[0].row;
         }

         var description_id = cnf_data.getValue(index, 0);
         var app_name       = cnf_data.getValue(index, 1);
         var platform_id    = cnf_data.getValue(index, 3);
         var host_id        = cnf_data.getValue(index, 5);
         location.href = "{{ ROOT_URL }}joblistInfo/" + app_name + "/" + description_id + "/" + platform_id + "/" + host_id;
      });
   });
}

google.setOnLoadCallback(drawVisualization);
</script>
{% endblock head %}

{% block script %}

$(document).ready(function () {
   $("#jobListMenu").attr('checked', 'checked').button("refresh");
   $('#AlltabButton').click(function(){
      document.location.href="{{ ROOT_URL }}joblist/All/" ;
      $("#{{ active_tab }}tab").mask("Loading...");
   });
   {% for app in applications %}
   $('#{{ app }}tabButton').click(function(){
      document.location.href="{{ ROOT_URL }}joblist/{{ app }}/" ;
      $("#{{ active_tab }}tab").mask("Loading...");
   });
   {% endfor %}

	$('#tabs').tabs({ selected : -1 });
	$('#tabs').tabs('select', '#{{ active_tab }}tab');

   $("button").button();
});

{% endblock script %}

{% block stylecss %}

#main {
    width: 1200px;
    height: 700px;
}
#header {
    width: 1200px;
    height: 10px;
}
#left {
    width: 850px;
    height: 670px;
    float:left;
}
#right {
    height: 670px;
    margin-left: 30px;
    overflow: hidden;
}
#footer {
    width: 1200px;
    height: 20px;
}
.controler {
    float: left;
}
.google-table-row-odd {
   background-color: #eef3f6;
}
.google-table-row {
   background-color: #6ca6cd;
}
.google-table-head {
   background-color: #6ca6cd;
   font-size: 12px;
   height: 20px;
}
.google-table td {
   font-size: 10px;
   height: 30px;
}

{% endblock stylecss %}

{% block helptext %} {% endblock helptext %}

{% block pagebody %}

<div id="tabs">
   <ul>
		<li><a id="AlltabButton" href="#Alltab">All</a></li>
		{% for app in applications %}
		<li><a id="{{ app }}tabButton" href="#{{ app }}tab">{{ app }}</a></li>
		{% endfor %}
   </ul>
   <div id="{{ active_tab }}tab">
   <div id="main">
      <div id="left" class="google-table">
         <table>
            <tr><td>
               <table>
                  <td><div id="left-version-picker"></div></td>
                  <td><div id="left-platform-picker"></div></td>
                  <td><div id="left-option-picker"></div></td>
                  <td><div id="left-setup-picker"></div></td>
               </table>
            </td><tr>
               <td><div id="left-table" style="width: 850px;"></div></td>
         </table>
      </div>
      <div id="right" class="google-table"></div>
      <div id="cleaner"> 
   </div>
   <div id="footer"></div>
   </div>
</div>

{% endblock pagebody %}
