<html>
<!--<script type="text/javascript" charset="utf-8" src="/js/JSON2.js"></script> -->
<script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
    </script>
<script type="text/javascript">
//hide some elements on startup
$(document).ready(function () {
    $("#Platform").hide();
	$("#PlatformButton").css('background-image','url(https://alamages.cern.ch/bf_button_fon_right_plus.png)');
	$("#SetupProject").hide();
	$("#SetupProjectButton").css('background-image','url(https://alamages.cern.ch/bf_button_fon_right_plus.png)');
});


function showHide( button_id, box_id )
{
     $(document).ready(function() {
		// check visibility
		if ($(document.getElementById(box_id)).is(":hidden")) {
			// it's hidden - show it
				$(document.getElementById(box_id)).show("normal");
				$(document.getElementById(button_id)).css('background-image','url(https://alamages.cern.ch/bf_button_fon_right.png)');
		} else {
			// it's not hidden - slide it down
				$(document.getElementById(box_id)).hide("normal");
				$(document.getElementById(button_id)).css('background-image','url(https://alamages.cern.ch/bf_button_fon_right_plus.png)');
			}
		});
}
function removeAllChilds(myId){
	var node= document.getElementById(myId);		
	if ( node.hasChildNodes() ){
   		while ( node.childNodes.length >= 1 ){
       			node.removeChild( node.firstChild );       
    	} 
	}	
}

function fixCommand(version){
	myUI = document.getElementById("Overview");
	removeAllChilds("Overview");
	
	if (document.getElementById("choosedApp").value == "")
			return;
	
	var command = "SetupProject ";
	command += document.getElementById("choosedApp").value+" ";
	command += version;
	
	myUI.appendChild(document.createTextNode(command));
}

function selectOnlyThis(myInput_id,myUl_id) {
	    myUl = document.getElementById(myUl_id);
		var inputs = myUl.getElementsByTagName("input");
		
		var wasClicked = false;

		myInput = document.getElementById(myInput_id);
		if(!myInput.checked)
    		wasClicked = true;

        for (i = 0; i < inputs.length; i++) {
				var myLabel = inputs[i];            
				myLabel.checked = false;  
        }
		
		if(wasClicked)	{
			myInput.checked = false;
			//fixCommand("");
		}
		else{
			myInput.checked = true;
			//fixCommand(myInput.value);
		}
}

function updateLists(myId, val){
	updateCheckbox("i_love_cookies",val);

	//fixCommand("");
}

function addElements(myId,box,apps){
	//loop over the array which contains the versions
	for(var i = 0; i < apps.length; i++)
	{
		var inputObj = document.createElement("input");
		var labelObj = document.createElement("label");			
		var liObj = document.createElement("li");

		labelObj.appendChild(inputObj); 
		labelObj.appendChild(document.createTextNode(apps[i]));			
		liObj.appendChild(labelObj)				
		box.appendChild(liObj)

		inputObj.id = myId+i+""+i;
		inputObj.type = "checkbox" ;
		inputObj.value =  apps[i];
		//inputObj.setAttribute('onclick', 'selectOnlyThis(this.id,this.parentNode.parentNode.parentNode.id)');
		inputObj.setAttribute('onchange', 'doFilter()');
		
		labelObj.id = myId+i;				
	}
}

function updateCheckbox(myId, val)
{
	if(val == ""){
		removeAllChilds("Version"); 
		removeAllChilds("Options"); 
		removeAllChilds("Platform"); 
		removeAllChilds("SetupProject"); 
		removeAllChilds("Jobs");
		return;
	}

	var xmlhttp;    
	if (window.XMLHttpRequest){
		// code for IE7+, Firefox, Chrome, Opera, Safari
  		xmlhttp=new XMLHttpRequest();
  	}
	else{
		// code for IE6, IE5
  		xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  	}

	// when the response comes do...
	xmlhttp.onreadystatechange=function()
	{
  		if (xmlhttp.readyState==4 && xmlhttp.status==200)
		{
			
			// find the option list which will be changed
			var versions= document.getElementById("Version");
			var options= document.getElementById("Options");
			var cmtconfig= document.getElementById("Platform");		
			var setupproject= document.getElementById("SetupProject");	

			removeAllChilds("Version"); 
			removeAllChilds("Options"); 
			removeAllChilds("Platform"); 
			removeAllChilds("SetupProject"); 
			removeAllChilds("Jobs"); 
	
			//parse the server response
			var jsondata = JSON.parse(xmlhttp.responseText);
			
			var vers = jsondata.appVersions;
			var ops = jsondata.options;
			var setups = jsondata.setupProject;
			var cmts = jsondata.cmtconfigs;			

			addElements("Version",versions,vers);
			addElements("Options",options,ops);
			addElements("Platform",cmtconfig,cmts);
			addElements("SetupProject",setupproject,setups);

			doFilter();
    	}
  	}
	if(val == ""){
		//todo
	}
	else{
			// send the request the to server //django/lhcbPR/service?function=
			xmlhttp.open("GET","service?function="+myId+"&key="+val,true);
			xmlhttp.send();
		}
	
}
function getSelectedChilds(id){
	nodes= document.getElementById(id).childNodes;
	
	var sdValues = [];
	for(i=0; i<nodes.length; i+=1) {
    	if (nodes[i].firstChild.firstChild.checked == true){
			sdValues.push(nodes[i].firstChild.firstChild.value);
		}
	}
	
	return sdValues;
}

function addJobs(myId,box,apps){
	//loop over the array which contains the versions
	for(var i = 0; i < apps.length; i++)
	{
		var inputObj = document.createElement("input");
		var labelObj = document.createElement("label");			
		var liObj = document.createElement("li");
		
		labelObj.appendChild(inputObj); 
		labelObj.appendChild(document.createTextNode(apps[i]));
	
		liObj.appendChild(labelObj);
		box.appendChild(liObj);

		inputObj.id = myId+i+""+i;
		inputObj.type = "checkbox" ;
		
		inputObj.value = apps[i];
	
		//inputObj.value =  app["appName"]+"   "+app["appVersion"]+"   "+app["setupproject"]+"   "+app["options"]+"   "+app["cmtcomfig"];
		inputObj.setAttribute('onclick', 'selectOnlyThis(this.id,this.parentNode.parentNode.parentNode.id)');
		
		labelObj.id = myId+i;		
	}
}

function doFilter(){
	box = document.getElementById("Jobs");

	var xmlhttp;    
	if (window.XMLHttpRequest){
		// code for IE7+, Firefox, Chrome, Opera, Safari
  		xmlhttp=new XMLHttpRequest();
  	}
	else{
		// code for IE6, IE5
  		xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  	}

	// when the response comes do...
	xmlhttp.onreadystatechange=function()
	{
  		if (xmlhttp.readyState==4 && xmlhttp.status==200)
		{
			var jsondata = JSON.parse(xmlhttp.responseText);
			var jobs = jsondata.jobs;
			removeAllChilds("Jobs"); 
			addJobs("Jobs",box,jobs);
    	}
  	}
	
	var appVersions = getSelectedChilds("Version");
	var setupprojects = getSelectedChilds("SetupProject");
	var options = getSelectedChilds("Options");
	var cmts = getSelectedChilds("Platform");	

	// send the request the to server
	xmlhttp.open("GET", "getFilters?app="+document.getElementById("choosedApp").value+"&appVersions="+escape(appVersions.join(","))+"&SetupProjects="+escape(setupprojects.join(","))+"&Options="+escape(options.join(","))+"&cmtconfigs="+escape(cmts.join(",")), true);
	xmlhttp.send();
}
</script>
<link rel="stylesheet" href="https://alamages.cern.ch/lhcbPR.css" media="screen">
<!-- <link rel="stylesheet" href="http://lhcb-release-area.web.cern.ch/LHCb-release-area/DOC/gauss/css/css.css" type="text/css" media="screen"> -->
<!-- <link rel="stylesheet" href="css.css" type="text/css" media="screen"> -->
<title>Add new data</title>
</HEAD>
<BODY>
<div class="ctitle">
<TABLE id="pagetitle">
<TBODY>
<TR>
<TD class=iconspace>
<A href="http://cern.ch/lhcb-comp">
<IMG id=lhcblogo  src="http://lhcb-release-area.web.cern.ch/LHCb-release-area/DOC/images/lhcbcomputinglogo.gif" >
</A>
</TD>
<TD vAlign=middle align=center>
<H1><a href="/django/lhcbPR" >LHCb Perfomance & Regression</a></H1>

<div style="float: right;">
{% if myauth %}
<a href="/django/lhcbPR/logout/?next=/django/lhcbPR"> Logout </a>| {{ user.username }}
{% else %}
<a href="/django/lhcbPR/login"> Login</a>
{% endif %}
</div>

</TD>
</TR>
</TBODY>
</TABLE>
</div>
<div class=pagebody>
<div id=manifest>
<p>Define your job description</p>
</div>
<h2>Make your choices</h2>

<div id="myfilter" style="float : left;">
<!-- <form name="filtering" id="filtering" action="/lhcbPR/getFilters" method="post"> -->
{% csrf_token %}
<table class="sample">
<!-- <tr><td><b>Filtering</b></td> -->
<tr>
<td><b>Application</b></td>
<td>
<SELECT ID="choosedApp" NAME="AppName" onchange="updateLists(this.id,this.value)" >
<OPTION  VALUE="">Select application
{% for app in applications %}
<OPTION VALUE="{{ app }}">{{ app }}
{% endfor %}
</SELECT>
</td>
<tr>
</table>
<table class="sample">
<tr>
<td><a id="VersionButton" href="#"  class="bf_button" onclick='showHide(this.id,"Version")'><span>Version</span> </a></td>
<tr>
<td>
    <ul id="Version" name="Version" class="checklist"  >
    </ul>
</td>
<tr>
<td><a id="OptionsButton" href="#"  class="bf_button" onclick='showHide(this.id,"Options")'><span>Options</span> </a></td>
<tr>
<td>
    <ul id="Options" name="Options" class="checklist" >
    </ul>
</td>
<tr>
<td><a id="SetupProjectButton" href="#"  class="bf_button" onclick='showHide(this.id,"SetupProject")'><span>SetupProject</span> </a></td>
<tr>
<td>
    <ul id="SetupProject" name="SetupProject" class="checklist" >
    </ul>
</td>
<tr>
<td><a id="PlatformButton" href="#"  class="bf_button" onclick='showHide(this.id,"Platform")'><span>Platform</span> </a></td>

<tr>
<td>
    <ul id="Platform" name="Platform" class="checklist">
		<!-- <li><label id="CMTCONFIG1"><input id="CMTCONFIG11"  type="checkbox" value="" onclick="selectOnlyThis(this.id,this.parentNode.parentNode.parentNode.id)" > Test</label></li> -->
    </ul>
</td>
</table>
</div>

<!-- <br><br><br><input type="submit" name="toaddnew" onclick="location.href='/django/lhcbPR' " value="Go back" style="font-size: 15px;"/><br><br> -->
<!-- <input type="submit" name="toaddnew" onclick="location.href='addnew' " value="Add new jobDescription ids" style="font-size: 15px;"/> -->

<!-- <table class="sample"><tr><td><b>Overview</b></td></tr><tr><td><ul id="Overview" name="Overview" class="checklistOver"></ul></td></tr></table> -->


<div style="float : middle;">
<H1>Job Descriptions</H1>
<table style="sample">
<ul id="Jobs" name="Jobs" class="checklistJobs">
<ul>
</table>
</div>



</BODY>
</HTML>
