{% extends "analysis/base_analysis_template.html" %}



{% block content %} 
<!-- <ul>
{% for sid, iid in args.items %}
    <li>{{ sid }} -- {{ iid }}</li>
{% endfor %}
</ul> -->
<!--     <div class="ui-widget">
    	<label>Choose an attribute: </label>
    	<select id="atr">
    		<option value=""></option>
    		{% for atr in attributes %}
    			<option value="{{ atr.0 }},{{ atr.1 }}">{{ atr.0 }}</option>
    		{% endfor %}
    	</select>
    </div>
						
	<div id="group_platform">
		<label><input id="group_platform" type="checkbox" checked="checked">group by platform</label>
	</div>

	<div id="group_by_host">
		<label><input id="group_host" type="checkbox">group by host</label>
	</div>

    <div id="histogram_settings">
    <label>Histogram settings:</label>
        <div id="hist_options">
            <form>
                <label><input id="hist_separated" name="histo_conf" type="radio" checked="checked">separated</label>
                <label><input id="hist_imposed" name="histo_conf" type="radio">superimposed</label>
                <label><input id="hist_divided" name="histo_conf" type="radio">divided</label>
            </form>
        </div>
        <div id="division" style="display:none;">
            <label><input id="hist_divided_reversed" type="checkbox">reversed division</label>
        </div> -->
    <!-- </div> -->

{% endblock content %}
