<script src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
google.load('visualization', '1', {packages: ['corechart'],  callback:drawChart});
var trends = {{ trends|safe }};

    function drawChart() {
        $.each(trends, function(index, trend){
            $('<pre>')
                .html(JSON.stringify(trend['description'], null, '  '))
                .appendTo('#yo');            
            
            $('<div>')
                .attr('id','trend'+index).css('width',700).css('height',570)
                .appendTo('#yo');        
                
            //var data = google.visualization.arrayToDataTable( trend['datatable'] , true);
            data = new google.visualization.DataTable()
            data.addColumn('string', 'Version');
            data.addColumn('number');
            data.addColumn('number');
            data.addColumn('number');
            data.addColumn('number');
            data.addColumn({type:'string',role:'tooltip'});
            data.addRows(trend['datatable']);
            new google.visualization.CandlestickChart(document.getElementById('trend'+index)).
                draw(data, {legend : 'none', 
                                        width: 700, 
                                        height: 570, 
                                        bar : { groupWidth : '15%' },
                                        title : "Platform: "+trend['description']['PLATFORM']
                });
                
            $('<hr>').appendTo('#yo');
           
        });
    }
</script>

<style type="text/css">
	pre { margin-left: 2em; }
</style>

<div id="yo">
<!-- <div id="trend0" style="width: 500px; height: 400px;"></div> -->
</div>
