<!-- 
    we already have it from the render.html template
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
-->
<script type="text/javascript">
    google.load('visualization', '1', {packages: ['corechart'],  callback:drawChart});
    function drawChart() {
       var trends = {{ trends|safe }};
       var myYo = document.getElementById("yo");
       for (var i = 0; i < trends.length; i++) {
            //var mypre = document.createElement("pre");
            //var myText = document.createTextNode(JSON.stringify(trends[i]['description'], null, '  '));
            //mypre.appendChild(myText);
            //myYo.appendChild(mypre);            

            var mydiv = document.createElement("div");
            mydiv.id = "trend"+i;
            mydiv.style.width = 600;
            mydiv.style.height = 570;

            myYo.appendChild(mydiv);
            
            data = new google.visualization.DataTable()
            data.addColumn('string', 'Version');
            data.addColumn('number');
            data.addColumn('number');
            data.addColumn('number');
            data.addColumn('number');
            data.addColumn({type:'string',role:'tooltip'});
            data.addRows(trends[i]['datatable']);
            title = trends[i]['description']['OPTIONS'] + " - " + trends[i]['description']['PLATFORM']
            new google.visualization.CandlestickChart(document.getElementById("trend"+i)).
                draw(data, {legend : 'none', 
                    width: 600, 
                    height: 570, 
                    bar : { groupWidth : '15%' },
                    title : title,
                    hAxis: { title: "Revisions/Versions" },
                    vAxis: { title: trends[0]['axis'] }
                });
            
            var myhr = document.createElement("hr");
            myYo.appendChild(myhr);    
           
        }
    }
</script>

<div id="yo">
<!-- <div id="trend0" style="width: 500px; height: 400px;"></div> -->
</div>
