<!-- <script src="/static/js/jquery-1.8.2.js"></script> -->
<link rel="stylesheet" type="text/css" href="{{ rootbaseurl }}static/css/easyui/themes/default/easyui.css" rel="stylesheet" />
<script type="text/javascript" src="{{ rootbaseurl }}static/js/jquery.easyui.min.js"></script>

<script type="text/javascript">
$(document).ready(function() {		
			$('#test')
                .treegrid({
    				title:'Timing Table',
    				iconCls:'icon-save',
    				//width:"120%",
    				height:"600",
    				nowrap: false,
    				rownumbers: true,
    				animate:true,
    				collapsible:true,
    				idField:'code',
    				treeField:'name',
                     	        rowStyler:function(row){ 
                                             if (row.rank<10){  
                                                    return 'background-color:red;color:blue;font-weight:bold;';  
                                              } else if (row.mrank < 10) {
                                                    return 'color:red' 
                                              }                                         
                                            },
    				frozenColumns:[[
    				]],
    				columns:[[
    					{field:'name',title:'Name',width:400},
    					{field:'total',title:'CPU Time (ms)',width:100, align:'right'},
    					{field:'rank',title:'Rank',width:100, align:'right' },
    					{field:'entries',title:'Nb Entries',width:100, align:'right'},
    					{field:'perTotal',title:'% Time Total',width:100, align:'right'},
    					{field:'perLevel',title:'% Time Level',width:100, align:'right'},
    					{field:'childrenTotal',title:'Sum Time child.',width:100, align: 'right'},
    				]],
    				onContextMenu: function(e,row){
    					e.preventDefault();
    					$(this).treegrid('unselectAll');
    					$(this).treegrid('select', row.code);
    				}
			    })
                .treegrid('loadData', {{  data|safe }});

                $('#collapse,#expand,#getcsv').button();
	      
});

		function reload(){
			var node = $('#test').treegrid('getSelected');
			if (node){
				$('#test').treegrid('reload', node.code);
			} else {
				$('#test').treegrid('reload');
			}
		}

		function getChildren(){
			var node = $('#test').treegrid('getSelected');
			if (node){
				var nodes = $('#test').treegrid('getChildren', node.code);
			} else {
				var nodes = $('#test').treegrid('getChildren');
			}
			var s = '';
			for(var i=0; i<nodes.length; i++){
				s += nodes[i].code + ',';
			}
			alert(s);
		}

		function getSelected(){
			var node = $('#test').treegrid('getSelected');
			if (node){
				alert(node.code+":"+node.name);
			}
		}
		function collapse(){
			var node = $('#test').treegrid('getSelected');
			if (node){
				$('#test').treegrid('collapse', node.code);
			}
		}

		function expand(){
			var node = $('#test').treegrid('getSelected');
			if (node){
				$('#test').treegrid('expand', node.code);
			}
		}
		function collapseAll(){
			var node = $('#test').treegrid('getSelected');
			if (node){
				$('#test').treegrid('collapseAll', node.code);
			} else {
				$('#test').treegrid('collapseAll');
			}
		}
		function expandAll(){
			var node = $('#test').treegrid('getSelected');
			if (node){
				$('#test').treegrid('expandAll', node.code);
			} else {
				$('#test').treegrid('expandAll');
			}
		}
		function expandTo(){
			$('#test').treegrid('expandTo', '02013');
			$('#test').treegrid('select', '02013');
		}
</script>
<div>
<pre>Number of jobs: {{ jobs_num }}
{{ description }} 
</pre>

<style type="text/css">
#buttons { margin-top : 0.5em; }
</style>

<table id="test" style="width : 1060px;"></table>

<div id="buttons">
		<button id="collapse" onclick="collapseAll()">CollapseAll</button>
		<button id="expand" onclick="expandAll()">ExpandAll</button>
        <button id="getcsv"  onclick="window.open('{{ csv_url }}')">Get CSV</button>
</div>

</div>
