<script type="text/javascript">
   google.load('visualization', '1.1', {packages: ['corechart', 'controls'], callback:drawChart});
   var barChart;

   /**
    * Validation of input if comparable overview can be generated.
    * 
    * @param input Data coming from django __init__.py after sql request.
   */ 
   function validation(input) {
      if (input.length < 2)
         return false;
      var length = input[0]['datatable'].length;
      for(var i=0; i<input.length; i++) {
         if (length != input[i]['datatable'].length)
            return false;
      }
      var old_lable = "";
      for(var r=0; r<input[0]['datatable'].length; r++) {
         old_label = input[0]['datatable'][r][0];
         for(var i=0; i<input.length; i++) {
            if (old_label != input[i]['datatable'][r][0])
               return false;
         }
      }
      return true;
   }
   /**
    * Draw overview by using google bar charts, if validated it will be
    * drawn into a single chart, otherwide multiple charts are generated
    * for each group a tends-datatable is passed from django.
   */
   function drawChart() {
	   var trends = {{ trends|safe }};
      var valid  = validation(trends);

	   var chart_area_div = document.getElementById("chart_area");

      if(valid == false) {
         for (var i = 0; i < trends.length; i++) {
            var area_div = document.createElement("div");
            area_div.id            = "area"+i;
            area_div.style.width   = 700;
            area_div.style.height  = 550;
            chart_area_div.appendChild(area_div);

            //var info_pre   = document.createElement("pre");
            //var info_text  = document.createTextNode(JSON.stringify(trends[i]['description'], null, '  '));
            //info_pre.appendChild(info_text);
            //area_div.appendChild(info_pre);

            var control1_div = document.createElement("div");
            control1_div.id            = "control1"+i;
            control1_div.style.width   = 700;
            control1_div.style.height  =  20;
            area_div.appendChild(control1_div);

            var trend_div = document.createElement("div");
            trend_div.id            = "trend"+i;
            trend_div.style.width   = 700;
            trend_div.style.height  = 500;
            area_div.appendChild(trend_div);

            var platform = trends[i]['description']['PLATFORM'] + " - " + trends[i]['description']['HOST'];

            data = new google.visualization.DataTable()
            data.addColumn('string', 'Unit');
            data.addColumn({label: platform, type:'number', role:'data'});
            data.addColumn({type:'number', role:'interval'});
            data.addColumn({type:'number', role:'interval'});
            data.addColumn({type:'string',role:'tooltip'});
            data.addRows(trends[i]['datatable']);
            data.sort([{column: 4, desc: false}, {column: 0}]);
            var view = new google.visualization.DataView(data);
            view.setRows(view.getFilteredRows([{column: 1, minValue: trends[0]['min']}]));
            data_rows = 25*view.getNumberOfRows();

            var unitControl = new google.visualization.ControlWrapper({
               controlType: 'StringFilter',
               containerId: control1_div.id,
               options: {
                  filterColumnLabel: 'Unit',
                  ui: { label: 'Filter Lables' }
               }
            });

            var barChart = new google.visualization.ChartWrapper({
               chartType:     "BarChart",
               containerId:   trend_div.id,
               options: {
                  title    : "Overview",
                  width    : 700, 
                  height   : 100 + data_rows, 
                  fontSize : 10,
                  chartArea: { left: 250, height: data_rows, width: "100%" },
                  legend: {
                     position: 'top'
                  }
               }
            });

            var dashboard = new google.visualization.Dashboard(area_div);
            dashboard.bind(unitControl, barChart);
            dashboard.draw(view);

            var line = document.createElement("hr");
		      chart_area_div.appendChild(line);

            google.visualization.events.addListener(barChart, 'select', function handleUnits(){
               var app_name = "MOORE";
               var atr_num  = "656%2CFloat";
               var opt_num  = "261";
               var ver_num  = "1881";
               var plt_num  = "2";
               var hst_num  = "81";
               alert(barChart);
               location.href =
                  "https://lhcb-pr.web.cern.ch/lhcb-pr/analyse/basic/"
                  + app_name + "/?atr=" + atr_num + "&"
                  + "histogram=true&xlow=0&separately_hist=true&"
                  + "options=" + opt_num + "&"
                  + "versions=" + ver_num + "&"
                  + "platforms=" + plt_num + "&"
                  + "hosts=" + hst_num + "&trigger=true";
            });
         }
      } else {
			var trend_div = document.createElement("div");
			trend_div.id           = "trend";
			trend_div.style.width  = 700;
			trend_div.style.height = 500;
			chart_area_div.appendChild(trend_div);
         // Create new data table from trend information.
         var data = new google.visualization.DataTable()
         data.addColumn('string', 'Unit');
         for (var r = 0; r < trends[0]['datatable'].length; r++) {
            var new_trend = new Array();
            for (var i = 0; i < trends.length; i++) {
               if (r == 0) {
                  var platform = trends[i]['description']['PLATFORM'] + " - " + trends[i]['description']['HOST'];
                  data.addColumn('number', platform);
                  data.addColumn({type:'number', role:'interval'});
                  data.addColumn({type:'number', role:'interval'});
                  data.addColumn({type:'string', role:'tooltip'});
               }
               // Using push to add array elements dynamically .slice() does not work.
               if (i == 0) {
                  new_trend.push(trends[0]['datatable'][r][0]);
               }
               new_trend.push(trends[i]['datatable'][r][1]);
               new_trend.push(trends[i]['datatable'][r][2]);
               new_trend.push(trends[i]['datatable'][r][3]);
               new_trend.push(trends[i]['datatable'][r][4]);
            }
            data.addRow(new_trend);
         }
         data.sort([{column: 4, desc: false}, {column: 0}]);
         var view = new google.visualization.DataView(data);
         view.setRows(view.getFilteredRows([{column: 1, minValue: trends[0]['min']}]));
         data_rows = 25*view.getNumberOfRows();
         var barChart = new google.visualization.BarChart(document.getElementById("trend")).
            draw(view, {
               title    : "Overview",
               width    : 700, 
               height   : 100 + data_rows, 
               chartArea: { left: 250, height: data_rows, width: "100%" },
               fontSize: 10,
               legend: {
                  position: 'top'
               }
            });
         google.visualization.events.addListener(barChart, 'select', function (){
            var app_name = "MOORE";
            var atr_num  = "656%2CFloat";
            var opt_num  = "261";
            var ver_num  = "1881";
            var plt_num  = "2";
            var hst_num  = "81";
            alert(barChart);
            location.href =
               "https://lhcb-pr.web.cern.ch/lhcb-pr/analyse/basic/"
               + app_name + "/?atr=" + atr_num + "&"
               + "histogram=true&xlow=0&separately_hist=true&"
               + "options=" + opt_num + "&"
               + "versions=" + ver_num + "&"
               + "platforms=" + plt_num + "&"
               + "hosts=" + hst_num + "&trigger=true";
         });
      }
   }

</script>

<style type="text/css">
	pre { margin-left: 2em; }
</style>

<div id="chart_area"></div>
