{% extends "analysis/base_analysis_template.html" %}

{% block head %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}js/autocompleteBox.js"></script>
<script src="https://www.google.com/jsapi"></script>
{% endblock head %}

{% block script %}
    {{ block.super }}

   var groups  = {{ groups|safe }};

   $(document).ready(function() {
      $('#execute_query').hover(
         function() { $(this).addClass('ui-state-hover'); },
         function() { $(this).removeClass('ui-state-hover'); }
      );

      /* prefill the data for elements in the  */
      prefillAll();
      trigger();

      $("#groups").click(function(){ showHide("groups","groups_list") });

      $('#groupErase,button').hover(
         function() { $(this).addClass('ui-state-hover'); },
         function() { $(this).removeClass('ui-state-hover'); }
      );

      $('#groupErase').click(function(){
         var groups = getSelectedGroups("groups_list");                    
         if(groups.length == 0) return;

         $('#groups_list').children('li').each(function () {
            if($(':first-child:first-child', this).is(':checked')){
               $(':first-child:first-child', this).removeAttr('checked'); 
            }
         });
      });

      $('#grps').combobox();
   });

   function getSelectedGroups(id){
      var sdValues = [];
      $('#'+id+' li label :checked').each(function () {
            sdValues.push($(this).attr('value'));
      });
      return sdValues;
   }

   function checkRequestData(requestData){
      var errors = {}
       
      if (requestData["atr"] == "") {
         errors["attribute"] = "Attribute field can not be empty!";
      }
      
      return errors;
   }
{% endblock script %}

{% block stylecss %}
   .ui-combobox {
      position: relative;
      display: inline-block;
   }
   .ui-combobox-toggle {
      position: absolute;
      top: 0;
      bottom: 0;
      margin-left: -1px;
      padding: 0;
      /* adjust styles for IE 6/7 */
      *height: 1.7em;
      *top: 0.1em;
   }
   .ui-combobox-input {
      margin: 0;
      padding: 0.3em;
   }
{% endblock stylecss %}


{% block content %}
   {% if atrGroups %}
   <table class="filter">
   <tr>
   <td>
   <div id="atr_holder"class="ui-widget">
   <select id="grps">
       {% for group in atrGroups %}
          <option value="{{ group.0 }}">{{ group.0 }}</option>
       {% endfor %}
   </select>
   <select id="jobs"></select>
   </div>
   </td>
   </tr>
   </table>
   {% endif %}
{% endblock content %}
