{% extends "analysis/base_analysis_template.html" %}

{% block head %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}js/autocompleteBox.js"></script>
<script src="https://www.google.com/jsapi"></script>
{% endblock head %}

{% block script %}
    {{ block.super }}

   var groups  = {{ groups|safe }};

   function prefillJobs() {
      {% for j in jobs %}
      jQuery('#jobs li label input').each(function () {
         if( jQuery(this).val() == {{ j }} ){
             jQuery(this).attr('checked', 'checked');
         }
      });
      {% endfor %}
   }

   $(document).ready(function() {
      $('#execute_query').hover(
         function() { $(this).addClass('ui-state-hover'); },
         function() { $(this).removeClass('ui-state-hover'); }
      );

      /* prefill the data for elements in the  */
      prefillAll();
      prefillJobs();
      trigger();

      $("#grps").click(function(){ showHide("groups","groups_list") });
      $("#JobsButton").click(function(){ showHide("JobsButton","jobs") });

      $('#groupErase,button').hover(
         function() { $(this).addClass('ui-state-hover'); },
         function() { $(this).removeClass('ui-state-hover'); }
      );

      $('#groupErase').click(function(){
         var groups = getSelectedGroups("groups_list");                    
         if(groups.length == 0) return;

         $('#groups_list').children('li').each(function () {
            if($(':first-child:first-child', this).is(':checked')){
               $(':first-child:first-child', this).removeAttr('checked'); 
            }
         });
      });

      $('#grps').combobox();
   });

   function getSelectedGroups(id){
      var sdValues = [];
      $('#'+id+' li label :checked').each(function () {
            sdValues.push($(this).attr('value'));
      });
      return sdValues;
   }

   function checkRequestData(requestData){
      var errors = {}
       
      if (requestData["atr"] == "") {
         errors["attribute"] = "Attribute field can not be empty!";
      }
      
      return errors;
   }
{% endblock script %}

{% block stylecss %}
   .ui-combobox {
      position: relative;
      display: inline-block;
   }
   .ui-combobox-toggle {
      position: absolute;
      top: 0;
      bottom: 0;
      margin-left: -1px;
      padding: 0;
      /* adjust styles for IE 6/7 */
      *height: 1.7em;
      *top: 0.1em;
   }
   .ui-combobox-input {
      margin: 0;
      padding: 0.3em;
   }
{% endblock stylecss %}

{% block content %}
   {% if atrGroups %}
   <div id="atr_holder"class="ui-widget">
   <table class="filter" style="margin-top: 1em;">
   <tr><td>
   <select id="grps">
       {% for group in atrGroups %}
          <option value="{{ group.0 }}">{{ group.0 }}</option>
       {% endfor %}
   </select>
   </td></tr>
   <tr><td>
   <a href="javascript:;" id="JobsButton" class="ui-state-default ui-corner-all filterButton"><span class="ui-icon ui-icon-minusthick"></span>Jobs</a><a href="javascript:;" id="JobsErase" class="ui-state-default ui-corner-all filterErase" title="clear checkbox" ><span class="ui-icon ui-icon-closethick"></span></a>
   </td></tr>
   <tr><td>
   <ul id="jobs" class="checklist">
      {% for j in jobs %}
         <li><label>
         <input type="checkbox" value={{ j }}>{{ j }}
         </label></li>
      {% endfor %}
   </ul>
   </td></tr>
   </table>
   </div>
   {% endif %}
{% endblock content %}
