{% extends "lhcbPR/base_template.html" %}

{% block title %} {% endblock title %}

{% block head %} 
<script type="text/javascript" src="/static/js/JobDescriptionFunctions.js"></script>
<script type="text/javascript" src="/static/js/autocompleteBox.js"></script>
{% endblock head %}

{% block script %} 

$(document).ready(function() {
		$("#analyseMenu").attr('checked', 'checked').button("refresh");
		{% for app in applications %}
		$('#{{ app }}tabButton').click(function(){ 
				document.location.href="/django/lhcbPR/analyse/{{ app }}/" ;
				$("#{{ active_tab }}tab").mask("Loading...");
			});
		{% endfor %}

		$('#tabs').tabs({ selected : -1 });
		$('#tabs').tabs('select', '#{{ active_tab }}tab');
});
{% endblock script %}

{% block stylecss %} {% endblock stylecss %}

{% block helptext %} {% endblock helptext %}

{% block pagebody %}
<div id="tabs">
			<ul>
				{% for app in applications %}
				<li><a id="{{ app }}tabButton" href="#{{ app }}tab">{{ app }}</a></li>
				{% endfor %}
			</ul>
			<div id="{{ active_tab }}tab">
					{% block content %} {% endblock content %}
			</div><!-- active_tab -->
</div><!--  /tabs -->
{% endblock pagebody %}
