{% extends "analysis/base_analysis_template.html" %}

{% block head %}
{{ block.super }}
<script type="text/javascript" src="/static/js/autocompleteBox.js"></script>
{% endblock head %}

{% block script %}
    {{ block.super }}
			$(document).ready(function() {			
				var atrValues = [  ];
                
                /* prefill the data for elements in the  */
                prefillAll();
                /* after the prefill trigger (if must) some functions */
                ShowHistogramConfigs();
                trigger();

				$("#histogram").click(function(){ ShowHistogramConfigs() });
                
                $("#groups").click(function(){ showHide("groups","groups_list") });
                
                $('#groupErase,button').hover(
					function() { $(this).addClass('ui-state-hover'); },
					function() { $(this).removeClass('ui-state-hover'); }
				);

                $('#groupErase').click(function(){
                    var groups = getSelectedGroups("groups_list");                    
                    if(groups.length == 0) return;

                    $('#groups_list').children('li').each(function () {
                        if($(':first-child:first-child', this).is(':checked')){
                             $(':first-child:first-child', this).removeAttr('checked');                               
                        }
                    });
                    var groups_empty = [];
                    fixGroups(groups_empty);
                });

                $("#atr").combobox();

                $("#groups_list input").change( function(){ 
                    var groups = getSelectedGroups("groups_list");                    
                    fixGroups(groups); 
                });
                
        });

function ShowHistogramConfigs(){
	var isChecked = $("#histogram").is(':checked');
	if (isChecked){
		$("#histogram_configs").slideDown("normal"); 
	}
	else{
		$("#histogram_configs").slideUp("normal");
	}
}

function getSelectedGroups(id){
	var sdValues = [];
    $('#'+id+' li label :checked').each(function () {
            sdValues.push($(this).attr('value'));
      });
	return sdValues;
}

function fixGroups(groups){ 
        myUrl= "/django/lhcbPR/analyse/basic/functions/filterAtrs/"+appName+"/?groups="+escape(groups.join(","));
        
        $("#atr_holder").mask("Requesting...");
		$("#atr_holder").load(myUrl, function(){ jQuery("#atr").combobox(); });
}

function checkRequestData(requestData){
	var errors = {}
 
	if (requestData["atr"] == "") {
		errors["attribute"] = "Attribute field can not be empty!";
	}
	
	if ( requestData["histogram"] ){
		if(requestData["nbins"] != ""){		
			if( !($.isNumeric(requestData["nbins"] ))){
				errors["nbins"]= "nbins value must be strictly integer!";
			}
		}
		if(requestData["xlow"] != ""){		
			if( !($.isNumeric(requestData["xlow"]))){
				errors["xlow"] = "xlow value must be strictly integer!";
			}
		}
		if(requestData["xup"]  != ""){		
			if( !($.isNumeric(requestData["xup"]))){
				errors["xup"] = "xup value must be strictly integer!";
			}
		}
	}
	return errors;
}
{% endblock script %}

{% block stylecss %}
	#histogram_configs input { width: 60px; }

	.ui-combobox {
        position: relative;
        display: inline-block;
    }
    .ui-combobox-toggle {
        position: absolute;
      	top: 0;
        bottom: 0;
        margin-left: -1px;
        padding: 0;
        /* adjust styles for IE 6/7 */
        *height: 1.7em;
        *top: 0.1em;
    	}
    .ui-combobox-input {
       	margin: 0;
    	padding: 0.3em;
    }
	#histogram_settings { margin-top: 1em; margin-left: 1em;}
	#group_host_div { margin-top: 0.3em; }

    #hist_div { margin-top : 0.5em; }
    #atr_holder { margin-top : 1em; }
{% endblock stylecss %}


{% block content %}
        {% if atrGroups %}
            <pre>(choose an attribute group, optional)</pre>
            <table class="filter">
    		<tr>
    		<td><a href="javascript:;" id="groups" class="ui-state-default ui-corner-all filterButton"><span class="ui-icon ui-icon-plusthick"></span>Groups</a>
    				<a href="javascript:;" id="groupErase" class="ui-state-default ui-corner-all filterErase"  title="clear checkbox" ><span class="ui-icon ui-icon-closethick"></span></a>
    		</td>
    		<tr>
    		<td>
    		    <ul id="groups_list" class="checklist" style="display:none;" >
    				{% for group in atrGroups %}
    				<li>
                            <label>
        							<input type="checkbox" value="{{ group }}" checked="checked">{{ group }}
            			    </label>
    				</li>
    			{% endfor %}
                </ul>
    		</td>
            </table>
        {% endif %}

		<div id="atr_holder"class="ui-widget">
    		<label>Choose an attribute: </label>
    		<select id="atr">
        		<option value=""></option>
				{% for atr in attributes %}
					<option value="{{ atr.0 }},{{ atr.2 }}">{{ atr.1 }}</option>
				{% endfor %}
    		</select>
		</div>

        <div id="hist_div">        
            <label><input id="histogram" type="checkbox">Generate histogram </label>
        </div>

		<div id="histogram_configs" style="display :none;">
			<label>nbins</label><input id="nbins" type="text" value="" /><label> xlow</label><input id="xlow" type="text" value="" /><label> xup</label><input id="xup" type="text" value="" />
			<br><label style="font-size: 13px;"> (leave blank to use default values)</label>
			<div id="histogram_settings">
                <form>
				<input id="separately_hist" type="radio" name="myhistogram" checked="checked">separated
                <input id="superimposed" type="radio" name="myhistogram">superimposed
                </form>
			</div>
		</div>
						
		<div id="group_host_div">
			<label><input id="group_host" type="checkbox">group by host</label>
		</div>
{% endblock content %}
