{% extends "analysis/base_analysis_template2.html" %}

{% block head %}
{{ block.super }}
<script type="text/javascript" src="/static/js/autocompleteBox.js"></script>
{% endblock head %}

{% block script %}

{{ block.super }} 

			$(document).ready(function() {			
				$('#execute_query').hover(
					function() { $(this).addClass('ui-state-hover'); },
					function() { $(this).removeClass('ui-state-hover'); }
				);
				var atrValues = [  ];
				
				$( "#atr" ).combobox();

				$("#histogram").click(function(){ 
					var isChecked = $(this).is(':checked');
					if (isChecked){
						$("#histogram_configs").slideDown("normal"); 
					}
					else{
						$("#histogram_configs").slideUp("normal");
					}
				 });
				
				$("#superimposed").click(function(){ 
					if($(this).is(':checked')){
						$("#separately_hist").removeAttr("checked");
					}
					else{
						$(this).attr("checked", "checked");
					}
				 });
				$("#separately_hist").click(function(){ 
					if($(this).is(':checked')){
						$("#superimposed").removeAttr("checked");
					}
					else{
						$(this).attr("checked", "checked");
					}
				 });
                
                $("#groups")
                .button()                
                .click(function(){
                       if ($("#groups_list").is(":hidden")) {
			                // it's hidden - show it
				            $("#groups_list").slideDown("slow");
		            } else {
			                // it's not hidden - slide it down
				            $("#groups_list").slideUp("slow");
			        }                
                });
                
                $('#groupErase,button').hover(
					function() { $(this).addClass('ui-state-hover'); },
					function() { $(this).removeClass('ui-state-hover'); }
				);

                $('#groupErase').click(function(){
                    $('#groups_list').children('label').each(function () {
                        if($(':first-child', this).is(':checked')){
                             $(':first-child', this).removeAttr('checked');                               
                        }
                    });

                });

                $("#groups_list input").change( function(){ getGroups(); });
                $("#groupErase").click(function(){ getGroups() });
        });

function getSelectedGroups(id){
	var sdValues = [];
    $('#'+id+' label :checked').each(function () {
            sdValues.push($(this).attr('value'));
      });
	return sdValues;
}

function getGroups(){   
        var groups = getSelectedGroups("groups_list");
        myUrl= "/django/lhcbPR/analyse/basic/functions/filterAtrs/"+appName+"/?groups="+escape(groups.join(","));
        
        $("#atr").mask("Requesting...");
		$("#atr").load(myUrl);
}

function checkRequestData(requestData){
	var errors = {}
 
	if (requestData["atr"] == "") {
		errors["attribute"] = "Attribute field can not be empty!";
	}
	
	if ( requestData["histogram"] ){
		if(requestData["nbins"] != ""){		
			if( !($.isNumeric(requestData["nbins"] ))){
				errors["nbins"]= "nbins value must be strictly integer!";
			}
		}
		if(requestData["xlow"] != ""){		
			if( !($.isNumeric(requestData["xlow"]))){
				errors["xlow"] = "xlow value must be strictly integer!";
			}
		}
		if(requestData["xup"]  != ""){		
			if( !($.isNumeric(requestData["xup"]))){
				errors["xup"] = "xup value must be strictly integer!";
			}
		}
	}
	return errors;
}
{% endblock script %}

{% block stylecss %}
	#histogram_configs input { width: 60px; }

	.ui-combobox {
        position: relative;
        display: inline-block;
    }
    .ui-combobox-toggle {
        position: absolute;
      	top: 0;
        bottom: 0;
        margin-left: -1px;
        padding: 0;
        /* adjust styles for IE 6/7 */
        *height: 1.7em;
        *top: 0.1em;
    	}
    .ui-combobox-input {
       	margin: 0;
    	padding: 0.3em;
    }
	#histogram_settings { margin-top: 1em; margin-left: 1em;}
	#group_host { margin-top: 0.3em; }
	//#results img { margin-left : 2em; }

    #groups_list { margin: 0; padding: 0; }
    #groups_list input { padding-left: 10px; }
    #groups_list label {
	    display: block;
        padding-left: 25px;
        text-indent: -25px;
    }
    #groups { height : 29px;}
    #hist_div { margin-top : 0.5em; }
{% endblock stylecss %}


{% block content %}
		<!-- {{ html_form }} -->
		<div class="ui-widget">
    		<label>Choose an attribute: </label>
    		<select id="atr">
        		<option value=""></option>
				{% for atr in attributes %}
					<option value="{{ atr.0 }},{{ atr.2 }}">{{ atr.1 }}</option>
				{% endfor %}
    		</select>
		</div>

        {% if atrGroups %}
        <button id="groups">Groups</button><a id="groupErase" class="ui-state-default ui-corner-all filterErase" title="clear checkboxes" href="javascript:;">
            <span class="ui-icon ui-icon-closethick"></span></a>
                <div id="groups_list" style="display:none">
                    {% for group in atrGroups %}
                    <label>
							<input type="checkbox" value="{{ group }}" >{{ group }}
    			    </label>
                    {% endfor %}
                </div>
        
        {% endif %}
        <div id="hist_div">        
            <label><input id="histogram" type="checkbox">Generate histogram </label>
        </div>

		<div id="histogram_configs" style="display :none;">
			<label>nbins</label><input id="nbins" type="text" value="" /><label> xlow</label><input id="xlow" type="text" value="" /><label> xup</label><input id="xup" type="text" value="" />
			<br><label style="font-size: 13px;"> (leave blank to use default values)</label>
			<div id="histogram_settings">
				<label><input id="separately_hist" type="radio" checked="checked">separated</label><label><input id="superimposed" type="radio">superimposed</label>
			</div>
		</div>
						
		<div id="group_host">
			<label><input id="group_host" type="checkbox">group by host</label>
		</div>
{% endblock content %}
